@media screen and (max-width:1700px) {
    .pro3 .pro-cont .pw{ padding-right: 119px; }
    .pw3, .str5{ width: 1138px; }
    .coop-list .lg, .coop-list .freeTx{ padding-left: 40px; padding-right: 40px; }
    .coop-list .ma{ margin-left: 40px; }
    .coop-list{ margin-left: -40px; }
    .coop-list li{ margin-bottom: 40px; }
    .str5{ padding-bottom: 50px; }
}
@media screen and (max-width:1600px) {
    .in-cont .in-hot{ width: 325px; }
    .in-list a+a { margin-top: 13px; }
    .ix-party .ip-list{ margin-top: 113px; }
    .ab-pa, .ab-info .wrap{ padding: 0; }
    .ab-block-list .txts{ padding-left: 40px; padding-right: 40px; }
    .ab-block-list .freeTx{ font-size: 14px; height: 260px; }
    .ab-block-list .txts{ height: 410px; }
    .pro-cont .pw{ padding-left: 10.9%; padding-right: 10.9%; }
    .pro3 .pro-cont .pw{ padding-right: 10.9%; }
    .str-business-list .txts{ padding: 50px 10% 0; }
    .str-business-list .freeTx{ max-height: 200px; }
    
}
@media screen and (max-width:1440px) {
    .ab1 .ab-title{ margin-bottom: 55px; }
    .ab-platform-list .ma{ margin-left: 45px; }
    .ab-platform-list{ margin-left: -45px; }
    .ab-platform-list .ti{ font-size: 24px; }
    .ab-platform-list .num{ font-size: 42px; }
    .str5, .pw, .pw3{ width: 1000px; }
    .party-news-list .item>a, .party-news-list .nowti{ line-height: 30px; }
    .party-news-list{ padding-top: 30px; }
    .party-news-list .slick-dots{ margin-top: 20px; }
    .party-news .txts{ padding-top: 35px; font-size: 14px; }
    .party-news .txts p.tx{  line-height: 24px !important; height:48px; }
    .party-news .txts .more{ margin-top: 45px; }
    .party-news .txts .line{ margin: 20px 0 17px; }
    .par3 .ab-title, .par2 .ab-title{ padding-left: 0; padding-right: 0; width: 1000px; margin-left: auto; margin-right: auto; }
    .issue-list a{ padding-left: 40px; padding-right: 40px; }
    .news-list li{ margin-bottom: 40px; }
    .news-list{ margin-left: -40px; }
    .news-list a{ margin-left: 40px; }
    .ab9 .news-list{ margin-bottom: 30px; }
    .branch-list li{ margin-bottom: 35px; }
    .branch-list{ margin-left: -35px; }
    .branch-list a{ margin-left: 35px; }
    .par2 .branch-list{ margin-bottom: 35px; }
    .pro-list .txts{ padding-left: 35px; padding-right: 35px; }
    .asset-list .picbox{ width: 472px; }
    .asset-list .txts{ padding-top: 85px; }
    .asset-list .tx{ margin-bottom: 60px; }
    .coop-list .freeTx{ font-size: 14px; }

}
@media screen and (max-width:1366px) {
    .header .nav>li>a{ font-size: 14px; padding-left: 14px; padding-right: 14px; }
    .header .link{ margin-top: 24px; width: 90px; height: 32px; line-height: 30px; font-size: 12px; }
    .banner .txts{ padding-top: 10%; }
    .banner .ti{ font-size: 36px; }
    .banner .btn-know{ margin-top: 40px; }
    .page-pa{ padding-left: 60px; padding-right: 60px; }
    .in-cont{ padding-right: 60px; }
    .ix-news .in-nav{ margin-bottom: 45px; }
    .in-cont .in-hot{ width: 265px; }
    .in-hot .tx{ font-size: 16px; }
    .in-hot .txts{ padding-top: 15px; }
    .in-list a+a { margin-top: 9px; }
    .in-nav li{ font-size: 16px; line-height: 54px; }
    .ix-party{ padding-top: 45px; }
    .ix-party .ip-list{ margin-top: 73px; }
    .ip-list .slick-dots, .ip-list .nowti, .ip-list .b{ padding-left: 40px; padding-right: 40px; }
    .ix-link a{ margin-left: 25px; }
    .ix-link{ margin-left: -25px; }
    .ix-link .txts{ height: 125px; padding: 25px 25px 0; }
    .ix-link .txts:before{ left: 25px; height: 8px; }
    .sos-box .tx1{ margin-top: 34px; font-size: 26px; }
    .sos-box{ margin-top: -248px; }
    .pbanner .ch{ font-size: 32px; }
    .ab-block-list .slick-arrow{ left: 60px; }
    .pnav{ width: 200px; }
    .page-cont{ margin-left: 200px; }
    .ab-info .ab-video{ width: 400px; }
    .ab-block-list .txts{ padding-left: 35px; padding-right: 35px; }
    .ab4{ padding-top: 85px; padding-bottom: 80px; }
    .ab4 .ab-title{ margin-bottom: 55px; }
    .ab-branch a{ font-size: 14px; margin-left: 10px; height: 58px; line-height: 58px; }
    .ab-branch{ margin-left: -10px; }
    .ab-branch li{ margin-bottom: 10px; }
    #top{ left: 65px; }
    .ab5 .ab-en{ position: static; padding-top: 27px; clear: both; }
    .ab-tx .r{ width: 57%; }
    .ab-works .ma{ margin-left: 40px; }
    .ab-works{ margin-left: -40px; }
    .ab-works .num{ font-size: 42px; }
    .respo-list a{ margin-left: 30px; }
    .respo-list{ margin-left: -30px; }
    .respo-list li{ margin-bottom: 30px; }
    .ab9 .respo-list{ margin-bottom: 25px; }
    .pw, .pw2{ width: 800px; max-width: 90%; }
    .cta-list .txts{ padding-right: 0; }
    #map{ height: 480px; margin-top: 85px; }
    .ab11{ padding-top: 85px; }
    .par3 .ab-title, .par2 .ab-title, .pw3{ width: 800px; }
    .party-news .picbox{ margin-right: 35px; }
    .party-news .txts, .party-news-list{ padding-right: 35px; }
    .party-news-list .item>a, .party-news-list .nowti{ line-height: 26px; }
    .party-news-list{ padding-top: 20px; }
    .party-news-list .slick-dots{ margin-top: 10px; }
    .party-news .txts .date{ font-size: 12px; }
    .party-news .txts h3.tx{ font-size: 18px; height: 52px; line-height: 26px !important; }
    .party-news .txts .line{ margin: 15px 0 12px; }
    .party-news .txts .more{ margin-top: 25px; }
    .party-news .txts{ padding-top: 25px; }
    .party-item+.party-item{ margin-top: 60px; }
    .par3 .ab-title, .par2 .ab-title{ margin-bottom: 55px; }
    .issue-list a{ padding-left: 30px; padding-right: 30px; }
    .news-list li{ margin-bottom: 30px; }
    .news-list{ margin-left: -30px; }
    .news-list a{ margin-left: 30px; }
    .ab9 .news-list{ margin-bottom: 40px; }
    .branch-list li{ margin-bottom: 25px; }
    .branch-list{ margin-left: -25px; }
    .branch-list a{ margin-left: 25px; }
    .par2 .branch-list{ margin-bottom: 45px; }
    .pro-list .tx{ font-size: 14px; line-height: 24px !important; height: 48px; }
    .pro-list .nowti{ font-size: 22px; }
    .pro-list .txts{ padding-top: 30px; height: 215px; }
    .pro-cont .pw{ width: 100%; }
    .pro-pa{ padding-left: 60px; }
    .innovate-list .freeTx{ font-size: 14px; }
    .innovate-list .ti{ font-size: 22px; }
    .innovate-list .ti .num{ margin-bottom: -6px; font-size: 38px; }
    .innovate-list .txts{ height: 260px; margin-top: -130px; padding-left: 40px; padding-right: 40px; width: 518px; }
    .innovate-list li+li{ margin-top: 60px; }
    .str-business-list .freeTx{ font-size: 14px; }
    .str-business-list .ti{ font-size: 22px; }
    .str-business-list .ico{ transform-origin: left center; transform: scale(.9); }
    .str-business-list .freeTx{ max-height: 180px; }
    .str-business-list .txts{ padding-top: 40px; height: 300px; }
    .layout-list .freeTx{ padding-left: 5%; padding-right: 5%; }
    .str5{ width: 800px; padding-bottom: 60px; }
    .coop-list .ma{ margin-left: 30px; }
    .coop-list{ margin-left: -30px; }
    .coop-list li{ margin-bottom: 30px; }
    .coop-list .freeTx, .coop-list .lg{ padding-left: 30px; padding-right: 30px; }
    .coop-list .freeTx{ padding-top: 20px; }
    .f-nav a{ font-size: 15px; margin-right: 32px; }
}
@media screen and (max-width:1201px) {
    .header .nav>li>a{ padding-left: 7px; padding-right: 7px; font-size: 13px; }
    .header .link{ width: auto; height: auto; border: none; margin: 28px 20px 0 10px; line-height: 24px; font-size: 13px; }
    .page-pa{ padding-left: 40px; padding-right: 40px; }
    .in-cont{ padding-right: 40px; }
    .in-cont .in-hot{ display: none; }
    .ix-news .in-nav{ margin-bottom: 40px; }
    .ab-block-list .slick-arrow{ left: 40px; }
    .pro-pa{ padding-left: 40px; }
    .f-nav a{ font-size: 14px; margin-right: 25px; }
}
@media screen and (max-width:1101px) {
    .footer .f-ma{ display: none; }
    .footer .l{ padding-top: 35px; }
}
@media screen and (max-width:1024px) {
    .header, .mtop{ height: 60px; }
    .header .link, .header .nav{ display: none; }
    .header .logo{ margin: 2px 0 0 5%; transform-origin: left center; transform: scale(.8); }
    .menu-handler{ display: block; }
    .index-top .mtop{ height: 60px; }
    .index-top .header{ background: #fff; }
    .banner .txts{ left: 5%; top: 50%; padding-top: 0; transform: translateY(-50%); }
    .banner .slick-dots{ right: 0; text-align: center; }
    .banner .slick-dots li{ margin: 0 6px; }
    .recruitment-notice-wrap{ position: relative; border-bottom: 1px solid #f2f2f2; width: 100%; padding-right: 5%; box-sizing: border-box; height: 60px; }
    .recruitment-notice-list .slick-arrow{ display: none !important; }
    .recruitment-notice-wrap .title{ padding-top: 12px; width: 60px; margin-right: 20px; line-height: 18px; font-size: 16px; }
    .recruitment-notice-list{ padding: 18px 0 0; }
    .f-nav a{ margin-right: 32px; font-size: 14px; }
    .page-pa{ padding-left: 5%; padding-right: 5%; }
    .in-cont{ padding-left: 10%; padding-right: 10%; }
    .ip-list .b, .ip-list .nowti, .ip-list .slick-dots { padding-left: 25px; padding-right: 25px; }
    .ix-pro .txts{ padding-left: 45px; padding-right: 45px; }
    .rn-arrow .slick-prev{ background: #c82126; color: #fff; }
    .ix-link a{ margin-left: 15px; }
    .ix-link{ margin-left: -15px; }
    .ix3{ padding-top: 65px; padding-bottom: 65px; }
    .ix-link h4.nowti{ line-height: 44px; font-size: 14px; }
    .sos-box{ margin-top: 0; transform: translateY(-50%); }
    .pnav{ position: relative !important; top: 0 !important; border-bottom: 1px solid #ccc; height: 54px; width: 100%; overflow: hidden; overflow-x: auto; -webkit-overflow-scrolling: touch; }
    .pnav ul{ position: absolute; top: 0; left: 0; min-width: 100%;  white-space: nowrap; letter-spacing: -6px; }
    .pnav li{ display: inline-block; vertical-align: bottom; letter-spacing: 0; }
    .pnav a{ padding: 15px 20px; }
    .page-cont{ margin-left: 0; }
    .bread-nav{ background: none; padding: 10px 5% 0; }
    .ab1{ padding-top: 80px; padding-bottom: 90px; }
    .ab-info .ab-video{ width: 320px; }
    .ab-platform-list .freeTx{ font-size: 14px; }
    .ab-platform-list .ma{ margin-left: 30px; }
    .ab-platform-list{ margin-left: -30px; }
    .ab-platform-list .ti{ font-size: 20px; }
    .ab-platform-list .num{ font-size: 36px; }
    .ab2 .ab-title{ margin-bottom: 55px; }
    .ab-block-list .freeTx, .ab-block-list .txts{ height: auto; }
    .ab-block-list .pai{ display: none; }
    .ab-block-list .item{ background: #fff; }
    .ab-block-list .txts{ padding: 35px 5%; }
    .ab-block-list .item + .item{ margin-top: 2px; }
    .ab-block-list{ padding-top: 0; }
    .ab3 .ab-title{ padding: 0; margin-bottom: 55px; }
    .ab3{ padding-bottom: 90px; padding-left: 5%; padding-right: 5%; }
    .nd-b, .nd-t{ padding-left: 0; padding-right: 0; }
    .nd-t{ padding-top: 90px; }
    .nd-t .ti{ padding: 0 5%; }
    .news-back li+li{ border: none; }
    .par3 .ab-title, .par2 .ab-title, .pw3{ width: 90%; }
    .party-news .picbox{ width: 460px; }
    .party-news-list .item>a, .party-news-list .nowti{ line-height: 28px; }
    .party-news-list{ padding-top: 25px; }
    .party-news-list .slick-dots{ margin-top: 15px; }
    .party-news .txts{ padding-top: 35px; }
    .container{ min-height: 300px; }
    .pro1{ padding-left: 5%; padding-right: 5%; padding-top: 80px; }
    .pro-list a{ margin-left: 30px; background: #fff; }
    .pro-list{ margin-left: -30px; }
    .pro-list li{ width: 50%; margin-bottom: 30px; }
    .pro1 .pro-list{ margin-bottom: 40px; }
    .pbanner .pic2>img{ transform: none !important; }
    .pro-pa{ padding-left: 5%; }
    .pro-cont .ti{ padding: 0; }
    .pw { width: 90%; }
    .str2{ padding-top: 80px; }
    .str-business-list .ti{ padding-left: 40px; font-size: 20px; }
    .str-business-list .ico{ transform: scale(.7); }
    .str-business-list .txts{ height: 280px; padding-top: 25px; }
    .str3{ padding-left: 5%; }
    .str4{ padding: 80px 5% 90px; }
    .asset-list li + li{ margin-top: 40px; }
    .asset-list a{ background: #fff; }
    .asset-list .picbox{ width: 378px; }
    .asset-list .tx{ margin-bottom: 40px; }
    .asset-list .txts{ padding-top: 55px; }
    .str5{ width: 90%; }
}
@media screen and (max-width:861px) {
    .banner .ti{ font-size: 32px; }
    .banner .btn-know{ margin-top: 30px; }
    .footer .l, .footer .r{ float: none; max-width: none; }
    .footer .f-share{ text-align: left; }
    .footer .l{ padding-top: 30px; }
    .ix-news, .ix-party{ float: none; width: 100%; }
    .in-cont{ padding-left: 5%; padding-right: 5%; }
    .ix-news{ padding-bottom: 50px; }
    .ix-pro .txts{ position: static; width: 100%; padding-left: 5%; padding-right: 5%; }
    .ix-pro .slick-arrow{ right: 40px; }
    .ix-pro .slick-next{ background: #f2f2f2; }
    .ix-link li{ width: 50%; margin-bottom: 15px; }
    .ix3{ padding-bottom: 50px; }
    .ab-info .ab-video{ width: 256px; }
    .ab-platform-list li{ width: 50%; margin-bottom: 30px; }
    .ab-platform-list li:nth-child(2n-1){ clear: both; }
    .ab-business li, .ab-branch li{ width: 33.33%; }
    .ab-business li{ margin-bottom: 30px; }
    .ab-business li:nth-child(3n-2){ clear: both; }
    .ab6{ padding-bottom: 50px; }
    .ab6 .ab-title{ margin-bottom: 55px; }
    .ab-tx .r, .ab-tx .l{ width: 100%; float: none; }
    .ab-tx .l{ margin-bottom: 20px; }
    .ab8, .ab7, .ab-tx{ padding-top: 80px; }
    .ab-works li{ width: 50%; margin-bottom: 35px; }
    .ab7 .fixbg{ margin-top: 45px; }
    .ab-works li:nth-child(2n-1){ clear: both; }
    .ab8{ padding-bottom: 90px; }
    .respo-list .txts{ height: 195px; padding: 20px 25px 0; }
    .respo-list .respo-date{ left: 25px; }
    .cta-list .txts{ padding-left: 60px; }
    .cta-list .title{ width: 165px; }
    .briefing-list .pic, .party-news .picbox{ display: none; }
    .party-news .txts, .party-news-list{ padding: 25px 5% 35px; }
    .party-news-list .slick-dots{ margin-top: 20px; }
    .party-news .txts{ padding-top: 35px; }
    .briefing-list a{ padding-left: 25px; padding-right: 25px; }
    .news-list li{ margin-bottom: 20px; }
    .news-list{ margin-left: -20px; }
    .news-list a{ margin-left: 20px; }
    .ab9 .news-list{ margin-bottom: 50px; }
    .news-list .nowti{ left: 5%; right: 5%; bottom: 10px; padding-left: 10px; font-size: 14px; line-height: 18px; }
    .branch-list li{ width: 50%; }
    .question-list .freeTx{ font-size: 14px; padding-left: 30px; padding-right: 30px; }
    .pro-list .txts{ padding: 20px 25px 0; height: 185px; }
    .pro-list .nowti{ font-size: 18px; }
    .pro-list .tx{ margin-bottom: 20px; }
    .pro-pa .pro-title{ width: 100%; float: none; padding: 0; text-align: center; margin-bottom: 35px; }
    .pro-pa{ padding-right: 5%; }
    .pro-cont .pw{ padding-left: 5%; padding-right: 5%; }
    .pro3 .pro-cont .pw{ padding-right: 5%; }
    .innovate-list .txts{ position: static; width: 100%; height: auto; padding-left: 5%; padding-right: 5%; margin: 0; }
    .innovate-list li{ padding-right: 0; box-shadow: 3px 5px 8px rgba(0,0,0,.1); }
    .innovate-list li:nth-child(2n){ padding-left: 0; }
    .innovate-list li+li{ margin-top: 40px; }
    .str2{ padding-left: 5%; padding-right: 5%; padding-bottom: 90px; }
    .str-business-list .pai{ display: none; }
    .str-business-list li{ width: 100%; background: #fff; box-shadow: 3px 5px 8px rgba(0,0,0,.1); }
    .str-business-list li + li{ margin-top: 40px; }
    .str-business-list .freeTx{ max-height: none; }
    .str-business-list .txts{ padding: 35px 5%; height: auto; }
    .layout-list .pro-title{ float: none; width: 100%; margin-bottom: 35px; }
    .asset-list .picbox{ width: 278px; }
    .asset-list .nowti{ font-size: 24px; }
    .asset-list .tx{ margin-bottom: 30px; font-size: 14px; line-height: 24px !important; height: 48px; }
    .asset-list .respo-more{ width: 120px; line-height: 34px; }
    .asset-list .txts{ padding-top: 40px; }
    .coop-list li{ width: 100%; float: none; }
    .coop-list .ma{ height: auto; padding-bottom: 40px; box-shadow: 3px 5px 8px rgba(0,0,0,.1); }
    .coop-list .freeTx, .coop-list .lg{ padding-left: 5%; padding-right: 5%; }
    .footer .logo{ display: none; }
    .footer .friendship-link{ float: none; }
    .footer .f-nav{ padding-top: 0; border: none; }
    .footer{ padding-top: 35px; }
}
@media screen and (max-width:641px) {
    .ab-info .ab-video{ float: none; width: 100%; margin: 0 0 35px; }
    .cta-list .title{ width: 100%; border-bottom: 1px solid #ccc; margin-bottom: 15px; padding-bottom: 10px; float: none; }
    .cta-list .txts{ padding-left: 0; min-height: 0; border: none; }
    .cta-list .title .ch{ margin-bottom: 0; }
    .cta-list .tel{ padding-top: 0; }
    .briefing-list li{ width: 100%; }
    .briefing-list a{ padding-left: 5%; padding-right: 5%; box-shadow: 3px 5px 8px rgba(0,0,0,.1); }
    .briefing-list .pic{ display: block; margin-right: 20px; }
    .issue-list li{ width: 100%; }
    .issue-list a{ padding-left: 5%; padding-right: 5%; }
    .layout-list .freeTx{ font-size: 14px; }
    .layout-list .pic{ width: 220px; }
    .layout-list .pic img{ height: 100%; object-fit: cover; }
    .layout-list .txts{ height: 120px; }
    .asset-list .picbox{ width: 238px; }
    .asset-list .nowti{ padding-left: 15px; font-size: 20px; }
    .asset-list .txts{ padding-top: 30px; }
    .asset-list .tx{ margin-bottom: 25px; }
}
@media screen and (max-width:601px) {
    .banner .ti{ font-size: 26px; }
    .banner .btn-know{ width: 25vw; height: 8vw; line-height: 8vw; margin-top: 5vw; }
    .banner .slick-dots{ bottom: 5vw; }
    .banner .slick-dots li{ width: 3.33vw; margin: 0 1vw; }
    .banner .slick-dots .slick-active{ width: 6.67vw; }
    /* .footer{ padding-top: 10vw; padding-bottom: 15vw; } */
    /* .footer .f-nav{ margin-top: 6.67vw; padding-top: 7.5vw; } */
    .f-nav a{ margin-right: 5vw; }
    /* .footer .b{ margin-top: 6vw; } */
    /* .footer .f-share{ margin-top: 6.67vw; } */
    /* .footer .l{ padding-top: 5vw; } */
    /* .footer .f-cop{ margin-top: 3.33vw; } */
    .ix-title .ti{ font-size: 26px; }
    .ix-title .plus-more{ margin-top: 2px; }
    .plus-more{ width: 32px; height: 32px; line-height: 32px; }
    .ix-party .ip-list{ margin-top: 12vw; }
    .ip-list .b, .ip-list .nowti, .ip-list .slick-dots{ padding-left: 4.17vw; padding-right: 4.17vw; }
    .ix4{ padding-top: 15.83vw; padding-bottom: 15.83vw; }
    .ix-branch .ti{ margin-bottom: 3.83vw; }
    .ib-more{ width: 38px; height: 38px; line-height: 34px; }
    .sos-box .tx1{ margin-top: 5.67vw; font-size: 24px; }
    .pbanner .ch{ font-size: 26px; }
    .ab-title .ti{ font-size: 26px; }
    .ab-title .line{ width: 9.17vw; margin-top: 3.33vw; }
    .ab9 .party-nav, .par2 .ab-title, .par3 .ab-title, .ab8 .ab-title, .ab7 .ab-title, .ab6 .ab-title, .ab4 .ab-title, .ab3 .ab-title, .ab2 .ab-title, .ab1 .ab-title{ margin-bottom: 9.17vw; }
    .par2, .ab3, .ab1{ padding-top: 13.33vw; padding-bottom: 15vw; }
    .ab-info .ab-video{ margin-bottom: 5.83vw; }
    .ab-platform-list li{ width: 100%; }
    .ab2{ padding-top: 40px; }
    .ab-branch li{ width: 50%; }
    .par3, .ab4{ padding-top: 13.33vw; padding-bottom: 13.33vw; }
    .ab5 .ab-en{ padding-top: 4.5vw; }
    .ab6{ padding-top: 13.33vw; padding-bottom: 8.33vw; }
    .str4, .str3, .str2, .str1, .pro1, .par1, .ab9, .ab8, .ab-tx{ padding-top: 13.33vw; padding-bottom: 15vw; }
    .ab-works li{ width: 100%; }
    .ab-works .freeTx{ font-size: 14px; }
    .ab-works .num{ margin-bottom: 2.83vw; font-size: 36px; }
    .ab7{ padding-top: 13.33vw; }
    .ab7 .fixbg{ padding-bottom: 50%; margin-top: 7.5vw; }
    .respo-list li{ width: 100%; }
    .respo-list .txts{ padding-left: 5%; padding-right: 5%; }
    .respo-list .respo-date{ left: 5%; }
    .nd-t{ padding-top: 15vw; }
    .nd-b{ padding-top: 10vw; padding-bottom: 20vw; }
    .ab11{ padding-top: 14.17vw; }
    #map{ margin-top: 14.17vw; height: 80vw; }
    .cta-list .tel{ font-size: 26px; }
    .party-item+.party-item{ margin-top: 10vw; }
    .par1 .ab-title{ margin-bottom: 5.83vw; }
    .par1 .pager{ margin-top: 11.67vw; }
    .pro1 .pro-list, .par2 .issue-list, .par2 .briefing-list, .par2 .party-nav{ margin-bottom: 6.67vw; }
    .briefing-list li{ margin-bottom: 5vw; }
    .issue-list li{ margin-bottom: 5vw; }
    .news-list li{ margin-bottom: 10px; }
    .news-list{ margin-left: -10px; }
    .news-list a{ margin-left: 10px; }
    .ab9 .news-list{ margin-bottom: 10vw; }
    .par2 .branch-list{ margin-bottom: 9.17vw; }
    .branch-list li{ margin-bottom: 15px; }
    .branch-list{ margin-left: -15px; }
    .branch-list a{ margin-left: 15px; }
    .question-list .question{ margin-bottom: 5.83vw; }
    .question-list li+li{ margin-top: 11.67vw; }
    .pro-list li{ width: 100%; margin-bottom: 5vw; }
    .pro-list a{ box-shadow: 3px 5px 8px rgba(0,0,0,.1); }
    .pro-list .txts{ padding-left: 5%; padding-right: 5%; }
    .pro2{ padding-top: 13.33vw; padding-bottom: 10.83vw; }
    .pro-pa .pro-title{ margin-bottom: 5.83vw; }
    .pro-cont .nd-t{ padding-top: 10vw; }
    .pro3 .pro-cont .pw{ padding-top: 12.5vw; }
    .pro3, .progress-list{ padding-bottom: 15vw; }
    .asset-list li+li, .str-business-list li+li, .progress-list li+li{ margin-top: 8.33vw; }
    .innovate-list li+li{ margin-top: 6.67vw; }
    .innovate-list .txts{ padding-top: 5.83vw; }
    .layout-list .pro-title{ margin-bottom: 5.83vw; }
    .layout-list li{ padding-left: 5vw; }
    .layout-list .pic{ float: none; height: auto; width: 180px; margin-bottom: 10px; }
    .layout-list .txts{ padding: 20px 5%; height: auto; }
    .layout-list .freeTx{ padding: 0; }
    .asset-list .picbox{ width: 100%; margin-right: 0; }
    .asset-list .txts{ padding: 20px 5% 35px;  }
    .asset-list a{ box-shadow: 3px 5px 8px rgba(0,0,0,.1); }
    .str5{ padding-top: 13.33vw; padding-bottom: 10vw; }
    .coop-list li{ margin-bottom: 5vw; }
    .pro3 .cta-list{ padding-bottom: 13.33vw; }
} 
@media screen and (max-width:481px) {
    .navMobile dd>a{ padding: 16px 0; font-size: 16px; }
    .navMobile .mtv>a{ font-size: 14px; }
    .banner .btn-know{ font-size: 12px; }
    .ix-title .ti, .banner .ti{ font-size: 22px; }
    .recruitment-notice-wrap .title{ margin-right: 15px; }
    .plus-more{ width: 26px; height: 26px; line-height: 26px; }
    .in-cont .in-hot{ display: block; width: 100%; float: none; margin-bottom: 5vw; }
    .in-hot a{ background: #f2f2f2; }
    .in-hot .txts{ padding-left: 5%; padding-right: 5%; padding-bottom: 20px; }
    .ix-pro .txts{ padding-top: 30px; }
    .ix3{ padding-top: 45px; padding-bottom: 35px; }
    .ix-link a{ margin-left: 10px; }
    .ix-link{ margin-left: -10px; }
    .ix-link li{ margin-bottom: 10px; }
    .ix-link h4.nowti{ line-height: 38px; font-size: 12px; }
    .ib-more{ width: 32px; height: 32px; line-height: 28px; }
    .pbanner .ch, .sos-box .tx1{ font-size: 22px; }
    .header .logo{ transform: scale(.65); }
    .ab-title .ti{ font-size: 22px; }
    .ab-platform-list .ti{ font-size: 18px; }
    .ab-platform-list .num{ font-size: 32px; }
    .ab-platform-list .title{ margin-bottom: 10px; }
    .ab-block-list .ti{ padding-left: 36px; font-size: 22px; }
    .ab-block-list .ico{ transform-origin: left center; transform: scale(.8); }
    .ab-block-list .pai{ display: block; }
    .ab-block-list .txts{ padding-top: 20px; }
    .ab-block-list .item+.item{ margin-top: 25px; }
    .ab-block-list .item{ box-shadow: 0 5px 8px rgba(0,0,0,.1); overflow: visible; }
    .ab-block-list{ overflow: visible; }
    .ab-branch a{ height: 48px; margin-left: 5px; line-height: 48px; font-size: 12px; }
    .ab-branch{ margin-left: -5px; }
    .ab-branch li{ margin-bottom: 5px; }
    .ab-business .name{ font-size: 14px; margin-top: -5px; }
    .ab-business .ico{ transform-origin: center top; transform: scale(.75); margin-bottom: 0; }
    .ab-business li+li:before{ height: 30px; margin-top: -15px; }
    .ab9 .respo-list{ margin-bottom: 4.17vw; }
    .party-news, .respo-list a{ box-shadow: 3px 5px 8px rgba(0,0,0,.1); }
    .nd-t .ti{ margin-bottom: 5vw; font-size: 22px; }
    .news-back .icon{ margin-right: 5px; }
    .news-tools li+li{ margin-left: 30px; }
    .cta-list .tel{ font-size: 22px; }
    .party-news .picbox{ display: block; width: 100%; margin-right: 0; }
    .party-news .txts, .party-news-list{ padding-top: 15px; }
    .briefing-list .pic{ width: 99px; margin-right: 10px; }
    .briefing-list .tx{ line-height: 20px !important; height: 40px; }
    .briefing-list a{ height: 182px; padding-top: 25px; }
    .party-nav a{ font-size: 16px; }
    .party-nav a+a{ padding-left: 16px; margin-right: 15px; }
    .party-nav a+a:before{ height: 16px; margin-top: -8px; }
    .issue-list .nowti{ font-size: 22px; }
    .issue-list a{ padding-top: 30px; height: 180px; }
    .news-list li{ width: 100%; margin-bottom: 5vw; }
    .news-list .nowti{ font-size: 16px; line-height: 20px; }
    .branch-list li{ margin-bottom: 10px; }
    .branch-list{ margin-left: -10px; }
    .branch-list a{ margin-left: 10px; }
    .par2 .branch-list{ margin-bottom: 10vw; }
    .question-list .dot{ width: 58px; height: 58px; font-size: 16px; line-height: 58px; }
    .question-list .freeTx{ padding: 16px 20px; min-height: 58px; }
    .question-list .txts:after, .question-list .txts:before{ top: 23px; }
    .question-list .question .txts{ margin-left: 78px; }
    .question-list .answer .txts{ margin-right: 78px; }
    .pro-cont .ti{ width: 100%; max-width: none; margin-bottom: 10px; }
    .pro-cont .share{ margin: 0; }
    .progress-list .txts{ margin-left: 50px; }
    .progress-list .b{ padding-left: 20px; padding-right: 20px; }
    .progress-list .freeTx{ font-size: 14px; }
    .progress-list .date{ font-size: 12px; }
    .str-business-list .pai{ display: block; }
    .str-business-list .txts{ padding-top: 20px; }
}