.header {
  height: 80px;
  line-height: 24px; }
  .header .logo {
    float: left;
    width: 198px;
    margin: 12px 0 0 40px;
    transition: none; }
  .header .nav {
    float: left; }
    .header .nav > li {
      float: left; }
      .header .nav > li > a {
        display: block;
        padding: 28px 22px;
        font-size: 16px;
        color: #333; }
        .header .nav > li > a:hover, .header .nav > li > a.act {
          background: #c82126;
          color: #fff; }
  .header .link {
    float: left;
    margin: 22px 30px 0 16px;
    width: 110px;
    height: 36px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    line-height: 34px;
    color: #999; }
    .header .link:hover {
      background: #c82126;
      border-color: #c82126;
      color: #fff; }

.mtop {
  height: 80px; }

.menu-handler {
  background: #c82126; }
  .menu-handler .burger {
    background: #fff;
    border-radius: 4px; }

.menuBox {
  right: -274px;
  width: 274px;
  background: rgba(200, 33, 38, 0.9);
  color: #fff; }
  .menuBox a {
    color: #fff; }
  .menuBox .navMobile {
    padding: 80px 0 30px 0; }

.navMobile a {
  display: block;
  text-align: center;
  line-height: 1.4; }

.navMobile dd {
  position: relative; }
  .navMobile dd > a {
    padding: 20px 0;
    font-size: 20px; }
    .navMobile dd > a.act {
      background: #f27276; }
  .navMobile dd + dd:before {
    content: "";
    position: absolute;
    left: 25px;
    right: 25px;
    top: 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.2); }

.navMobile .mtv {
  display: none;
  background: #c82126;
  padding: 10px 0; }
  .navMobile .mtv > a {
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px; }

.page-pa {
  padding-left: 80px;
  padding-right: 80px; }

.footer {
  position: relative;
  z-index: 99;
  background: #333;
  padding-top: 63px;
  padding-bottom: 35px;
  line-height: 24px; }
  .footer .logo {
    float: left; }
    .footer .logo > img {
      float: left;
      width: 198px;
      margin-right: 20px; }
    .footer .logo p {
      float: left;
      border-left: 1px solid #545454;
      padding-left: 20px;
      margin-top: 34px;
      line-height: 18px;
      font-size: 16px;
      color: #fff; }
  .footer .friendship-link {
    float: right; }
  .footer .f-nav {
    margin-top: 40px;
    padding-top: 43px;
    border-top: 1px solid #545454; }
  .footer .f-cop {
    margin-top: 20px; }
  @media screen and (min-width: 1025px) {
    .footer a:hover {
      color: #c82126; } }
  .footer .f-ma {
    margin-top: -24px; }
  .footer .l {
    padding-top: 60px; }

.f-ma {
  width: 162px;
  text-align: center; }
  .f-ma img {
    margin-bottom: 12px; }

.f-nav a {
  float: left;
  margin-right: 42px;
  color: #fff;
  font-size: 16px;
  font-weight: bold; }

.f-cta a {
  color: #999; }

.f-cop a {
  display: block; }

.friendship-link {
  position: relative;
  z-index: 99;
  width: 355px;
  max-width: 100%; }
  .friendship-link .s {
    position: relative;
    border-bottom: 1px solid #fff;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #999; }
  .friendship-link .icon {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -12px;
    font-size: 14px;
    transition: 300ms; }
  .friendship-link .k {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 100%;
    padding: 10px 0;
    background: #fff;
    overflow: hidden;
    display: none; }
  .friendship-link .g {
    max-height: 300px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
  .friendship-link a {
    display: block;
    padding: 0 20px;
    line-height: 30px; }
  .friendship-link.act .icon {
    transform: rotate(180deg); }

.f-share a {
  width: 26px;
  height: 26px;
  border-radius: 100%;
  background: #666;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: #333; }
  .f-share a + a {
    margin-left: 20px; }
  @media screen and (min-width: 1025px) {
    .f-share a:hover {
      background: #fff; } }

.index-top .header {
  background: url(../images/white.png); }

.index-top .mtop {
  height: 0; }

.btn {
  display: inline-block;
  vertical-align: top; }

.btn-know {
  width: 150px;
  height: 48px;
  border-radius: 25px;
  background: #c82126;
  text-align: center;
  color: #fff;
  line-height: 48px;
  white-space: nowrap; }

.banner .txts {
  position: absolute;
  top: 80px;
  left: 14.0625%;
  padding-top: 13.54167%;
  color: #fff; }

.banner .ti {
  font-weight: bold;
  font-size: 40px;
  line-height: 1.25; }

.banner .btn-know {
  margin-top: 50px; }
  @media screen and (min-width: 1025px) {
    .banner .btn-know:hover {
      background: #fff;
      color: #c82126; } }

.banner .slick-dots {
  bottom: 30px;
  right: 80px;
  text-align: right; }
  .banner .slick-dots li {
    width: 20px;
    height: 5px;
    margin: 0 0 0 12px;
    border-radius: 3px;
    background: #fff; }
    @media screen and (min-width: 1025px) {
      .banner .slick-dots li:hover {
        background: #c82126; } }
  .banner .slick-dots .slick-active {
    width: 40px;
    background: #c82126; }

.recruitment-notice-wrap {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 199;
  width: 50%;
  height: 128px;
  background: url(../images/white.png); }
  .recruitment-notice-wrap .title {
    float: left;
    width: 128px;
    height: 100%;
    padding-top: 42px;
    background: #c82126;
    box-sizing: border-box;
    line-height: 1.1;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-align: center; }

.recruitment-notice-list {
  padding: 28px 120px 28px 40px; }
  .recruitment-notice-list .item {
    border: none; }
  .recruitment-notice-list .item > a {
    display: block;
    overflow: hidden;
    line-height: 24px; }
    @media screen and (min-width: 1025px) {
      .recruitment-notice-list .item > a:hover {
        color: #c82126; }
        .recruitment-notice-list .item > a:hover .date {
          color: #c82126; } }
  .recruitment-notice-list .nowti {
    line-height: 24px; }
  .recruitment-notice-list .date {
    float: left;
    width: 92px;
    font-style: italic;
    color: #999;
    transition: 300ms; }

.slick-arrow {
  text-align: center;
  font-family: "iconfont" !important; }

.slick-prev:before {
  content: "\e660"; }

.slick-next:before {
  content: "\e65f"; }

.rn-arrow .slick-arrow {
  top: auto;
  margin: 0;
  bottom: 0;
  background: #fff;
  color: #ccc;
  font-weight: bold;
  font-size: 8px;
  line-height: 40px; }
  @media screen and (min-width: 1025px) {
    .rn-arrow .slick-arrow:hover {
      background: #c82126;
      color: #fff; } }

.rn-arrow .slick-prev {
  left: auto;
  right: 40px; }

.ix-party {
  float: left;
  padding-top: 65px;
  padding-bottom: 50px;
  width: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: #fff; }
  .ix-party a {
    color: #fff; }
  .ix-party .ip-list {
    margin-top: 133px; }

.ix-title .ti {
  overflow: hidden;
  font-size: 30px;
  font-weight: bold; }

.ix-title .plus-more {
  float: right;
  margin: 3px 0 0 20px; }

.btn {
  display: inline-block;
  vertical-align: bottom; }

.plus-more {
  width: 36px;
  height: 36px;
  background: #c82126;
  line-height: 36px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff; }
  @media screen and (min-width: 1025px) {
    .plus-more:hover {
      background: #fff;
      color: #c82126; } }

.ip-list .item > a {
  display: block;
  height: 210px;
  background: url(../images/black5.png); }
  @media screen and (min-width: 1025px) {
    .ip-list .item > a:hover .nowti {
      color: #c82126; } }

.ip-list .nowti {
  padding: 25px 50px 15px;
  border-bottom: 1px solid #fff;
  border-color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  transition: 300ms; }

.ip-list .b {
  padding: 15px 50px 0; }

.ip-list .tx {
  margin-bottom: 10px;
  height: 48px; }

.ip-list .date {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  font-style: italic; }

.ip-list .slick-dots {
  padding: 0 50px;
  bottom: 25px;
  text-align: left; }
  .ip-list .slick-dots li {
    width: 8px;
    height: 8px;
    margin: 0;
    background: #fff; }
    .ip-list .slick-dots li + li {
      margin-left: 13px; }
    @media screen and (min-width: 1025px) {
      .ip-list .slick-dots li:hover {
        background: #c82126; } }
  .ip-list .slick-dots .slick-active {
    background: #c82126; }

.ix-news {
  width: 50%;
  float: right; }
  .ix-news .in-nav {
    margin-bottom: 55px; }

.in-nav {
  border-bottom: 1px solid #f2f2f2; }
  .in-nav li {
    width: 33.33%;
    float: left;
    padding: 0 5%;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    box-sizing: border-box;
    cursor: pointer; }
    .in-nav li.act {
      background: #c82126;
      color: #fff; }
    @media screen and (min-width: 1025px) {
      .in-nav li:not(.act):hover {
        color: #c82126; } }

.in-cont {
  padding-left: 40px;
  padding-right: 80px; }
  .in-cont li {
    overflow: hidden;
    display: none; }
  .in-cont .in-hot {
    float: left;
    width: 365px;
    margin-right: 5.95238%; }
  .in-cont .in-list {
    overflow: hidden; }

.in-hot a {
  display: block; }
  .in-hot a:hover .in-more {
    background: #c82126; }

.in-hot .pai {
  padding-bottom: 63.0137%; }

.in-hot .tx {
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 26px !important;
  color: #333; }

.in-hot .date {
  font-size: 12px;
  color: #999; }

.in-hot .in-more {
  float: right; }

.in-hot .txts {
  padding-top: 20px; }

.in-more {
  padding: 0 8px;
  background: #ccc;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  white-space: nowrap;
  transition: 300ms; }

.in-list a {
  display: block;
  line-height: 20px;
  overflow: hidden; }
  .in-list a + a {
    margin-top: 16px; }
  @media screen and (min-width: 1025px) {
    .in-list a:hover {
      color: #c82126; }
      .in-list a:hover .date {
        color: #c82126; } }

.in-list .date {
  float: left;
  margin-right: 15px;
  font-size: 12px;
  font-style: italic;
  color: #999;
  transition: 300ms; }

.in-list .nowti {
  line-height: 20px; }

.ix-pro .item > a {
  display: block;
  position: relative; }

.ix-pro .pai {
  padding-bottom: 41.66667%; }

.ix-pro .txts {
  position: absolute;
  right: 0;
  bottom: 0;
  padding-top: 35px;
  width: 50%;
  height: 200px;
  background: url(../images/white.png);
  box-sizing: border-box;
  overflow: hidden; }

.ix-pro .nowti {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
  color: #333; }

.ix-pro .tx {
  margin-bottom: 27px;
  height: 48px;
  width: 610px;
  max-width: 100%; }

.ix-pro .slick-dots {
  display: none !important; }

.ix-pro .slick-arrow {
  right: 50%; }

.ix-pro .slick-next {
  margin-right: -40px; }

.ip-more {
  width: 102px;
  height: 32px;
  line-height: 32px;
  border-radius: 20px;
  background: #999;
  color: #fff;
  text-align: center;
  font-size: 12px;
  transition: 300ms; }

.ix-link {
  margin-left: -45px; }
  .ix-link li {
    width: 25%;
    float: left; }
  .ix-link a {
    display: block;
    position: relative;
    margin-left: 45px;
    overflow: hidden; }
    @media screen and (min-width: 1025px) {
      .ix-link a:hover .txts {
        transform: none;
        opacity: 1;
        visibility: visible; }
      .ix-link a:hover h4.nowti {
        transform: translateY(100%);
        opacity: 0;
        visibility: hidden; } }
  .ix-link .pai {
    padding-bottom: 100%; }
  .ix-link h4.nowti, .ix-link .txts {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 400ms; }
  .ix-link h4.nowti {
    background: url(../images/black5.png);
    padding: 0 5%;
    background: rgba(0, 0, 0, 0.3);
    line-height: 54px;
    font-size: 16px;
    text-align: center;
    color: #fff; }
  .ix-link .txts {
    height: 165px;
    padding: 47px 35px 0;
    background: #fff;
    box-sizing: border-box;
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden; }
    .ix-link .txts:before {
      content: "";
      position: absolute;
      top: 0;
      left: 35px;
      width: 35px;
      height: 14px;
      background: #c82126; }
  .ix-link h5.nowti {
    font-size: 18px;
    font-weight: bold;
    color: #333; }
  .ix-link .il-more {
    margin: 1px 0 0 15px;
    float: right; }
  .ix-link .tx {
    margin-top: 10px;
    height: 48px; }

.il-more {
  border: 2px solid #ccc;
  width: 22px;
  height: 22px;
  border-radius: 100%;
  box-sizing: border-box;
  line-height: 18px;
  font-size: 6px;
  color: #ccc;
  text-align: center; }

.page-bg {
  background: #f2f2f2; }

.ix3 {
  padding-top: 85px;
  padding-bottom: 85px; }

.ix4 {
  padding-top: 95px;
  padding-bottom: 95px; }

.ix-branch {
  display: block;
  color: #fff; }
  .ix-branch .ti {
    margin-bottom: 23px; }
  @media screen and (min-width: 1025px) {
    .ix-branch:hover .ib-more {
      transform: translateX(10px); } }

.ib-more {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  border: 2px solid #fff;
  box-sizing: border-box;
  text-align: center;
  font-weight: bold;
  font-size: 8px;
  line-height: 38px;
  transition: 300ms; }

.sos-box {
  position: fixed;
  top: 50%;
  margin-top: -261px;
  left: 10%;
  right: 10%;
  text-align: center;
  color: #c82126; }
  .sos-box img {
    max-width: 90%;
    vertical-align: bottom; }
  .sos-box .tx1 {
    margin-top: 54px;
    line-height: 1.4;
    font-weight: bold;
    font-size: 30px; }
  .sos-box a {
    width: 106px;
    height: 38px;
    background: #c82126;
    line-height: 38px;
    font-size: 12px;
    color: #fff; }
    @media screen and (min-width: 1025px) {
      .sos-box a:hover {
        background: #f27276; } }
  .sos-box .tx2 {
    margin-top: -4px; }
  .sos-box .fib {
    margin-top: 15px; }

.pbanner .txts {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 5%;
  right: 5%;
  text-align: center;
  color: #fff; }

.pbanner .ch {
  font-weight: bold;
  font-size: 40px; }

.page-cont {
  margin-left: 280px; }

.pnav-point {
  position: relative; }

.pnav {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 280px;
  background: #fff;
  line-height: 24px; }
  .pnav li {
    transition: 600ms; }
  .pnav a {
    display: block;
    padding: 18px 5%;
    text-align: center; }
    .pnav a.act {
      background: #c82126;
      font-weight: bold;
      color: #fff; }
    @media screen and (min-width: 1025px) {
      .pnav a:not(.act):hover {
        color: #c82126;
        font-weight: bold; } }
  .pnav.fix {
    position: fixed;
    top: 80px; }
  .pnav.hide li {
    transform: translateX(-100%);
    opacity: 0;
    visibility: hidden; }

.bread-nav {
  line-height: 24px;
  padding: 18px 35px;
  background: #fff; }
  .bread-nav .icon {
    display: inline-block;
    vertical-align: bottom;
    margin-right: 10px;
    color: #999;
    transition: 300ms; }
  .bread-nav a.act {
    color: #c82126; }
  @media screen and (min-width: 1025px) {
    .bread-nav a:not(.act):hover {
      color: #c82126; }
      .bread-nav a:not(.act):hover .icon {
        color: #c82126; } }

.ab-info .ab-video {
  width: 500px;
  margin-right: 4.72973%;
  float: left; }

.ab-info .wrap {
  padding-right: 10.81081%; }

.ab-info .ab-en {
  margin-top: 27px; }

.ab-video {
  position: relative;
  cursor: pointer; }
  .ab-video .pai {
    padding-bottom: 73%; }
    .ab-video .pai:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(../images/black5.png); }

.btn-video {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -22px;
  width: 44px;
  height: 44px;
  color: #c82126; }
  .btn-video:before, .btn-video:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%; }
  .btn-video:after {
    background: #fff; }
  .btn-video:before {
    background: #c82126;
    animation: light 2s linear infinite; }
  .btn-video .sj-r {
    position: absolute;
    z-index: 9;
    top: 50%;
    left: 50%;
    margin: -5px 0 0 -4px;
    border-top-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 8px; }

@keyframes light {
  0% {
    transform: scale(0.5);
    opacity: 1; }
  100% {
    transform: scale(2);
    opacity: 0; } }

.ab-title .ti {
  font-size: 30px;
  color: #333; }

.ab-title .line {
  display: block;
  margin-top: 20px;
  width: 55px;
  height: 3px;
  background: #c82126; }

.ab1 {
  padding-top: 8.84146%;
  padding-bottom: 7.92683%; }
  .ab1 .ab-title {
    margin-bottom: 75px; }

.ab2 {
  background: #fff;
  padding-top: 6.40244%;
  padding-bottom: 6.40244%; }
  .ab2 .ab-title {
    margin-bottom: 65px; }

.ab-platform-list {
  margin-left: -65px; }
  .ab-platform-list li {
    width: 33.33%;
    float: left; }
  .ab-platform-list .ma {
    margin-left: 65px; }
  .ab-platform-list .title {
    margin-bottom: 17px;
    overflow: hidden; }
  .ab-platform-list .num {
    float: left;
    margin-right: 10px;
    font-size: 46px;
    font-weight: bold;
    color: #c82126;
    font-style: italic;
    line-height: 1; }
  .ab-platform-list .ti {
    padding-top: 5px;
    font-size: 26px;
    color: #333;
    overflow: hidden; }
  .ab-platform-list .freeTx {
    font-size: 16px; }

.ab-block-list {
  padding-top: 40px; }
  .ab-block-list .pai {
    padding-bottom: 54.74453%; }
  .ab-block-list .txts {
    padding: 35px 14.6% 0;
    height: 480px;
    box-sizing: border-box; }
  .ab-block-list .ti {
    position: relative;
    margin-bottom: 20px;
    padding-left: 46px;
    font-size: 26px;
    color: #333; }
  .ab-block-list .ico {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    background-position: left center; }
  .ab-block-list .freeTx {
    font-size: 16px;
    height: 330px;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch; }
  .ab-block-list .item {
    transition: background 400ms; }
    .ab-block-list .item:after {
      content: "";
      position: absolute;
      left: auto;
      right: 0;
      bottom: 0;
      width: 0;
      height: 10px;
      background: #c82126;
      transition: 600ms; }
    @media screen and (min-width: 1025px) {
      .ab-block-list .item:hover {
        background: #fff; }
        .ab-block-list .item:hover:after {
          left: 0;
          right: auto;
          width: 100%; } }
  .ab-block-list .slick-arrow {
    right: auto;
    left: 80px;
    bottom: auto;
    top: 0; }
  .ab-block-list .slick-next {
    margin-left: 40px; }

.ab3 {
  padding-top: 80px; }
  .ab3 .ab-title {
    margin-bottom: 46px; }
    .ab3 .ab-title .line {
      display: block; }

.ab4 {
  background: #fff;
  padding-bottom: 70px;
  padding-top: 100px; }
  .ab4 .ab-title {
    margin-bottom: 70px; }

.ab-branch {
  margin-left: -15px; }
  .ab-branch li {
    width: 25%;
    float: left;
    margin-bottom: 15px; }
  .ab-branch a {
    display: block;
    padding: 0 10px;
    margin-left: 15px;
    background: #f2f2f2;
    height: 68px;
    font-size: 16px;
    text-align: center;
    line-height: 68px; }
    @media screen and (min-width: 1025px) {
      .ab-branch a:hover {
        background: #c82126;
        color: #fff; } }

#top {
  position: fixed;
  left: 105px;
  bottom: 40px;
  z-index: 299;
  padding-top: 6px;
  width: 70px;
  height: 50px;
  font-size: 12px;
  text-align: center;
  color: #999;
  box-sizing: border-box;
  line-height: 1;
  transform: translateY(100%);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: 400ms; }
  #top .sj {
    display: block;
    margin: 0 auto 10px;
    border-left-width: 9px;
    border-right-width: 9px;
    border-bottom-width: 16px; }
  #top.show {
    transform: none;
    opacity: 1;
    visibility: visible; }
  #top.change {
    background: #c82126;
    background: rgba(200, 33, 38, 0.8);
    color: #fff; }
  @media screen and (min-width: 1025px) {
    #top:not(.change):hover {
      color: #c82126; } }

.ab5 .ab-video .pai:after {
  display: none; }

.ab5 .ab-info {
  position: relative; }
  .ab5 .ab-info .freeTx {
    position: relative; }

.ab5 .ab-en {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 25px;
  margin: 0;
  text-align: right; }
  .ab5 .ab-en > img {
    vertical-align: bottom;
    max-width: 100%; }

.ab-business li {
  width: 16.66%;
  float: left; }
  .ab-business li + li {
    position: relative; }
    .ab-business li + li:before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -19px;
      width: 1px;
      height: 38px;
      background: #f2f2f2; }
  @media screen and (min-width: 1025px) {
    .ab-business li:hover {
      color: #c82126; }
      .ab-business li:hover .ico {
        background-position: center bottom; } }

.ab-business .ico {
  display: block;
  margin-bottom: 10px;
  height: 60px; }

.ab-business .name {
  text-align: center;
  font-size: 16px; }

.ab6 {
  background: #fff;
  padding-top: 80px;
  padding-bottom: 80px; }
  .ab6 .ab-title {
    margin-bottom: 70px; }

.ab-pa {
  padding-right: 10.81081%; }

.ab-tx {
  padding-top: 90px;
  padding-bottom: 90px; }
  .ab-tx .l {
    width: 38.16092%; }
  .ab-tx .r {
    width: 58.23755%; }

.ab-works {
  margin-left: -60px; }
  .ab-works li {
    width: 33.33%;
    float: left; }
  .ab-works .ma {
    margin-left: 60px; }
  .ab-works .num {
    margin-bottom: 17px;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    color: #c82126;
    font-size: 46px; }
  .ab-works .freeTx {
    font-size: 16px; }

.ab7 {
  background: #fff;
  padding-top: 90px; }
  .ab7 .ab-title {
    margin-bottom: 55px; }
  .ab7 .fixbg {
    margin-top: 80px;
    padding-bottom: 31.09756%; }

.ab8 {
  padding-top: 90px;
  padding-bottom: 9.7561%; }
  .ab8 .ab-title {
    margin-bottom: 55px; }

.respo-list {
  margin-left: -40px; }
  .respo-list li {
    width: 50%;
    float: left;
    margin-bottom: 40px; }
  .respo-list a {
    display: block;
    background: #fff;
    margin-left: 40px; }
    @media screen and (min-width: 1025px) {
      .respo-list a:hover {
        box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1); }
        .respo-list a:hover .respo-more {
          background: #c82126;
          color: #fff;
          border-color: #c82126; } }
  .respo-list .respo-date {
    position: absolute;
    left: 35px;
    bottom: 0; }
  .respo-list .pai {
    padding-bottom: 61.81818%; }
  .respo-list .txts {
    height: 215px;
    padding: 35px 35px 0;
    box-sizing: border-box;
    overflow: hidden; }
  .respo-list .nowti {
    margin-bottom: 8px;
    font-size: 18px;
    color: #333; }
  .respo-list .tx {
    margin-bottom: 30px;
    height: 48px; }
  .respo-list .respo-more {
    color: #999; }

.respo-date {
  position: relative;
  width: 60px;
  height: 60px;
  padding-top: 7px;
  background: #c82126;
  box-sizing: border-box;
  font-size: 30px;
  line-height: 1;
  text-align: center;
  color: #fff; }
  .respo-date .y {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 7px;
    font-size: 12px; }

.respo-more {
  width: 120px;
  border-radius: 20px;
  line-height: 34px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  text-align: center;
  font-size: 12px;
  color: #999;
  transition: 300ms; }
  .respo-more .icon {
    display: inline-block;
    vertical-align: bottom;
    font-size: 10px;
    margin-left: 4px; }

.pager a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: #fff;
  color: #999; }
  .pager a + a {
    margin-left: 10px; }
  .pager a.act {
    background: #c82126;
    color: #fff; }
  @media screen and (min-width: 1025px) {
    .pager a:hover {
      background: #c82126;
      color: #fff; } }

.pager .icon {
  font-size: 12px; }

.ab9 {
  padding-top: 80px;
  padding-bottom: 90px; }
  .ab9 .respo-list {
    margin-bottom: 15px; }

.pw2 {
  width: 1000px;
  margin: 0 auto; }

.share {
  line-height: 18px;
  font-size: 12px;
  color: #999; }
  .share p {
    float: left;
    margin-right: 12px; }
  .share a {
    width: 18px;
    height: 18px !important;
    border-radius: 50%;
    background: #999 !important;
    text-align: center;
    line-height: 18px !important;
    font-size: 12px !important;
    color: #fff !important;
    opacity: 1 !important; }
    .share a + a {
      margin-left: 7px !important; }
    @media screen and (min-width: 1025px) {
      .share a:hover {
        background: #c82126 !important; } }

.news-tools {
  line-height: 18px;
  color: #999; }
  .news-tools li + li {
    margin-left: 40px; }

.news-date {
  font-size: 14px; }
  .news-date:before {
    margin-right: 6px; }

.nd-t {
  border-bottom: 1px solid #ccc;
  padding: 130px 50px 18px; }
  .nd-t .ti {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 26px;
    color: #333; }

.nd-b {
  padding: 60px 50px 120px; }

.news-back li + li {
  border-top: 1px solid #f2f2f2; }

.news-back .icon {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 20px;
  color: #ccc;
  font-size: 18px; }

.news-back .arrow .icon {
  font-size: 24px; }

@media screen and (min-width: 1025px) {
  .news-back a:not(.act):hover {
    background: #c82126;
    font-weight: normal;
    color: #fff; }
    .news-back a:not(.act):hover .icon {
      color: #fff; } }

.cta-list li {
  overflow: hidden; }
  .cta-list li + li {
    margin-top: 40px; }

.cta-list .title {
  float: left;
  width: 215px; }
  .cta-list .title .ch {
    font-weight: bold;
    color: #333; }

.cta-list .ch {
  margin-bottom: 6px;
  font-size: 16px; }

.cta-list .en {
  color: #999;
  line-height: 1.4; }

.cta-list .txts {
  overflow: hidden;
  min-height: 47px;
  border-left: 1px solid #ccc;
  padding: 0 125px 0 125px; }

.cta-list .tel {
  padding-top: 9px;
  font-size: 30px;
  line-height: 1;
  font-style: italic; }

@media screen and (min-width: 1025px) {
  .cta-list a:not(.na):hover {
    color: #c82126; } }

#map {
  margin-top: 7.31707%;
  height: 600px; }

.ab11 {
  padding-top: 7.31707%; }

.party-page .pbanner .txts {
  color: #c82126; }

.pw3 {
  width: 1200px;
  margin: 0 auto; }

.party-news {
  background: #fff; }
  .party-news .picbox {
    width: 50%;
    margin-right: 45px;
    float: left; }
  .party-news .pai {
    padding-bottom: 63.33333%; }
  .party-news .txts {
    overflow: hidden;
    padding-top: 55px;
    padding-right: 45px;
    font-size: 16px;
    color: #999; }
    .party-news .txts .date {
      margin-bottom: 10px;
      line-height: 1;
      font-style: italic; }
    .party-news .txts .tx {
      height: 56px;
      line-height: 28px !important; }
    .party-news .txts h3.tx {
      font-size: 20px;
      color: #666; }
    .party-news .txts .line {
      display: block;
      margin: 25px 0 22px;
      height: 1px;
      background: #f2f2f2; }
    .party-news .txts .more {
      margin-top: 55px; }
  @media screen and (min-width: 1025px) {
    .party-news > a:hover .respo-more {
      background: #c82126;
      border-color: #c82126;
      color: #fff; } }

.party-news-list {
  padding-top: 35px;
  padding-right: 45px; }
  .party-news-list .item {
    border: none; }
  .party-news-list .item > a {
    display: block;
    line-height: 34px;
    overflow: hidden; }
    @media screen and (min-width: 1025px) {
      .party-news-list .item > a:hover {
        color: #c82126; }
        .party-news-list .item > a:hover .date {
          color: #c82126; } }
  .party-news-list .date {
    float: right;
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: #999;
    transition: 300ms; }
  .party-news-list .nowti {
    line-height: 34px; }
  .party-news-list .slick-dots {
    position: static;
    margin-top: 30px;
    text-align: left; }
    .party-news-list .slick-dots li {
      border: 1px solid #ccc;
      margin: 0;
      width: 9px;
      height: 9px;
      background: #fff;
      box-sizing: border-box; }
      .party-news-list .slick-dots li + li {
        margin-left: 12px; }
      @media screen and (min-width: 1025px) {
        .party-news-list .slick-dots li:hover {
          background: #c82126;
          border-color: #c82126; } }
    .party-news-list .slick-dots .slick-active {
      background: #c82126;
      border-color: #c82126; }

.par1 {
  padding-top: 80px;
  padding-bottom: 90px; }
  .par1 .ab-title {
    margin-bottom: 35px; }
  .par1 .pager {
    margin-top: 70px; }

.party-item + .party-item {
  margin-top: 80px; }

.party-nav {
  text-align: left; }
  .party-nav a {
    position: relative;
    margin-right: 20px;
    font-size: 18px; }
    .party-nav a + a {
      padding-left: 21px; }
      .party-nav a + a:before {
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -10px;
        width: 1px;
        height: 20px;
        background: #666; }
    .party-nav a p {
      position: relative;
      padding: 4px 0; }
      .party-nav a p:before {
        content: "";
        position: absolute;
        left: auto;
        right: 0;
        bottom: 0;
        width: 0;
        height: 5px;
        background: #c82126;
        transition: 600ms; }
    .party-nav a.act {
      font-weight: bold;
      color: #333; }
      .party-nav a.act p:before {
        left: 0;
        right: auto;
        width: 100%; }
    @media screen and (min-width: 1025px) {
      .party-nav a:hover p:before {
        left: 0;
        right: auto;
        width: 100%; } }

.briefing-list {
  margin-left: -30px; }
  .briefing-list li {
    width: 50%;
    float: left;
    margin-bottom: 30px; }
  .briefing-list a {
    display: block;
    padding: 30px 35px 0;
    background: #fff;
    height: 196px;
    box-sizing: border-box;
    margin-left: 30px; }
    @media screen and (min-width: 1025px) {
      .briefing-list a:hover {
        box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1); }
        .briefing-list a:hover .respo-more {
          border-color: #c82126;
          background-color: #c82126;
          color: #fff; }
        .briefing-list a:hover .nowti {
          color: #c82126; } }
  .briefing-list .pic {
    width: 120px;
    height: 80px;
    float: left;
    margin-right: 30px; }
  .briefing-list .txts {
    overflow: hidden; }
  .briefing-list .nowti {
    margin-bottom: 4px;
    font-size: 18px;
    color: #333;
    transition: 300ms; }
  .briefing-list .tx {
    height: 48px; }
  .briefing-list .more {
    margin-top: 25px; }

.par2 {
  padding-top: 85px;
  padding-bottom: 90px; }
  .par2 .ab-title {
    margin-bottom: 65px; }
  .par2 .issue-list, .par2 .party-nav {
    margin-bottom: 40px; }
  .par2 .briefing-list {
    margin-bottom: 40px; }

.par3 {
  background: #fff;
  padding-bottom: 80px;
  padding-top: 80px; }
  .par3 .ab-title {
    margin-bottom: 75px; }

.issue-list {
  margin-left: -30px; }
  .issue-list li {
    width: 50%;
    float: left;
    margin-bottom: 30px; }
  .issue-list a {
    display: block;
    height: 200px;
    padding: 45px 50px 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 30px;
    box-sizing: border-box; }
    @media screen and (min-width: 1025px) {
      .issue-list a:hover .respo-more {
        border-color: #c82126;
        background-color: #c82126;
        color: #fff; } }
  .issue-list .nowti {
    font-size: 24px;
    color: #333; }
    .issue-list .nowti span {
      display: inline-block;
      vertical-align: bottom;
      position: relative;
      margin-right: 15px;
      padding-right: 16px;
      font-weight: bold; }
      .issue-list .nowti span:before {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -9px;
        width: 1px;
        height: 18px;
        background: #999; }
  .issue-list .more {
    margin-top: 53px; }
  .issue-list .respo-more {
    background: #999;
    border-color: #999;
    color: #fff; }

.study-list a {
  color: #fff; }

.study-list .tx {
  height: 56px;
  font-size: 20px;
  line-height: 28px !important; }

.study-list .respo-more {
  background: none;
  border-color: #fff; }

.study-list .more {
  margin-top: 25px; }

.news-list {
  margin-left: -70px; }
  .news-list li {
    width: 50%;
    float: left;
    margin-bottom: 70px; }
  .news-list a {
    display: block;
    position: relative;
    margin-left: 70px;
    color: #fff; }
  .news-list .pai {
    padding-bottom: 61.33333%; }
    .news-list .pai:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url("../images/shadow.png") no-repeat center bottom; }
  .news-list .nowti {
    position: absolute;
    left: 35px;
    right: 35px;
    bottom: 20px;
    padding-left: 20px;
    font-size: 18px;
    border-left: 5px solid #c82126;
    line-height: 24px; }

.ab9 .party-nav {
  margin-bottom: 55px; }

.branch-list {
  margin-left: -45px; }
  .branch-list li {
    width: 33.33%;
    float: left;
    margin-bottom: 45px; }
  .branch-list a {
    display: block;
    margin-left: 45px; }
    @media screen and (min-width: 1025px) {
      .branch-list a:hover {
        box-shadow: 3px 5px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-10px); } }
  .branch-list .pai {
    padding-bottom: 27.45098%; }

.par2 .branch-list {
  margin-bottom: 25px; }

.question-list li + li {
  margin-top: 70px; }

.question-list .question, .question-list .answer {
  overflow: hidden; }

.question-list .dot {
  width: 78px;
  height: 78px;
  border-radius: 100%;
  background: #c82126;
  text-align: center;
  font-size: 20px;
  line-height: 78px;
  color: #fff; }

.question-list .question {
  margin-bottom: 35px; }
  .question-list .question .dot {
    float: left; }
  .question-list .question .txts {
    margin-left: 128px; }
    .question-list .question .txts:before {
      right: 100%;
      border-right: 10px solid;
      color: #f2f2f2; }
  .question-list .question .freeTx {
    background: #f2f2f2; }

.question-list .answer .dot {
  float: right; }

.question-list .answer .txts {
  margin-right: 128px;
  text-align: right; }
  .question-list .answer .txts:after, .question-list .answer .txts:before {
    left: 100%;
    border-left: 10px solid;
    color: #f2f2f2; }
  .question-list .answer .txts:after {
    margin-left: -1px;
    color: #fff; }

.question-list .answer .freeTx {
  border: 1px solid #f2f2f2;
  width: 565px; }

.question-list .txts {
  position: relative; }
  .question-list .txts:after, .question-list .txts:before {
    content: "";
    position: absolute;
    top: 33px;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent; }

.question-list .freeTx {
  display: inline-block;
  vertical-align: bottom;
  max-width: 100%;
  box-sizing: border-box;
  min-height: 78px;
  padding: 25px 50px;
  font-size: 16px; }

.pro-list li {
  width: 33.33%;
  float: left; }

.pro-list a {
  display: block; }
  @media screen and (min-width: 1025px) {
    .pro-list a:hover {
      background: #fff; }
      .pro-list a:hover .nowti {
        color: #c82126; }
      .pro-list a:hover .respo-more {
        background: #c82126;
        border-color: #c82126; } }

.pro-list .pai {
  padding-bottom: 64.10256%; }

.pro-list .txts {
  height: 245px;
  padding: 45px 45px 0;
  box-sizing: border-box;
  overflow: hidden; }

.pro-list .nowti {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
  transition: 300ms; }

.pro-list .tx {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 26px !important;
  height: 52px; }

.pro-list .respo-more {
  background: #999;
  border-color: #999;
  color: #fff; }

.pro1 {
  padding-bottom: 90px; }
  .pro1 .pro-list {
    margin-bottom: 70px; }

.pro-pa {
  padding-left: 80px; }
  .pro-pa .pro-title {
    width: 155px;
    padding-top: 15px;
    float: left; }

.pro-cont {
  overflow: hidden;
  background: #fff; }
  .pro-cont .pw {
    margin: 0;
    padding: 0 119px;
    box-sizing: border-box;
    max-width: 100%; }
  .pro-cont .nd-t, .pro-cont .nd-b {
    padding-left: 0;
    padding-right: 0; }
  .pro-cont .ti {
    float: left;
    width: 70%;
    margin-bottom: 10px; }
  .pro-cont .share {
    float: right;
    margin-top: 9px; }
  .pro-cont .nd-t {
    padding-top: 60px; }

.pro-title .en {
  color: #999; }

.pro-title .ch {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: bold;
  color: #333; }

.pro2 {
  padding-top: 80px;
  padding-bottom: 65px; }

.progress-list {
  position: relative;
  padding-bottom: 90px; }
  .progress-list:before {
    content: "";
    position: absolute;
    top: 5px;
    bottom: 0;
    left: 7px;
    width: 1px;
    background: #f2f2f2; }
  .progress-list li {
    position: relative; }
    .progress-list li:after {
      content: "";
      position: absolute;
      left: 0;
      top: 5px;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      background: #f2f2f2;
      transition: 300ms; }
    .progress-list li + li {
      margin-top: 50px; }
    .progress-list li:nth-child(2n-1) .b {
      width: 610px;
      max-width: 100%;
      box-sizing: border-box; }
    @media screen and (min-width: 1025px) {
      .progress-list li:hover:after {
        background: #c82126; } }
  .progress-list .txts {
    position: relative;
    margin-left: 80px; }
    .progress-list .txts:before {
      content: "";
      position: absolute;
      top: 10px;
      right: 100%;
      border-right: 5px solid;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      color: #f2f2f2; }
  .progress-list .date {
    margin-bottom: 6px;
    color: #999; }
  .progress-list .freeTx {
    font-size: 16px; }
  .progress-list .b {
    padding: 18px 35px 22px;
    background: #f2f2f2; }

.pro3 {
  padding-bottom: 90px; }
  .pro3 .pro-cont .pw {
    padding-top: 75px;
    padding-right: 0; }

.innovate-list li {
  position: relative;
  padding-right: 21%; }
  @media screen and (min-width: 1025px) {
    .innovate-list li:hover .txts {
      transform: translateY(20px);
      background: #c82126;
      color: #fff; }
    .innovate-list li:hover .ti {
      color: #fff; }
      .innovate-list li:hover .ti .num {
        color: #fff; } }
  .innovate-list li + li {
    margin-top: 80px; }
  .innovate-list li:nth-child(2n) {
    padding-left: 21%;
    padding-right: 0; }
    .innovate-list li:nth-child(2n) .txts {
      right: auto;
      left: 0; }

.innovate-list .pai {
  padding-bottom: 61.11111%; }

.innovate-list .txts {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -153px;
  width: 578px;
  height: 306px;
  background: #fff;
  padding: 35px 70px;
  box-sizing: border-box;
  transition: 400ms; }

.innovate-list .ti {
  line-height: 1;
  font-size: 26px;
  color: #333;
  transition: 400ms; }
  .innovate-list .ti .num {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: -8px;
    margin-right: 18px;
    font-size: 46px;
    font-style: italic;
    color: #c82126;
    transition: 400ms; }

.innovate-list .freeTx {
  margin-top: 20px;
  font-size: 16px; }

.str1 {
  padding-top: 90px;
  padding-bottom: 100px; }

.str-business-list li {
  width: 50%;
  float: left; }
  .str-business-list li:nth-child(10), .str-business-list li:nth-child(7), .str-business-list li:nth-child(6), .str-business-list li:nth-child(3), .str-business-list li:nth-child(2) {
    background: #fff; }

.str-business-list .pai {
  padding-bottom: 36.58537%; }

.str-business-list .txts {
  height: 340px;
  padding: 60px 12.80488% 0;
  overflow: hidden;
  box-sizing: border-box; }

.str-business-list .ico {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -20px;
  width: 46px;
  height: 40px;
  background-position: left center; }

.str-business-list .ti {
  position: relative;
  font-size: 26px;
  color: #333;
  padding-left: 50px; }

.str-business-list .freeTx {
  margin-top: 15px;
  font-size: 16px;
  max-height: 180px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.str3 {
  padding: 85px 0 90px 14.5122%; }

.layout-list li {
  border-left: 1px solid #ccc;
  padding-left: 30px;
  transition: 300ms; }
  @media screen and (min-width: 1025px) {
    .layout-list li:hover {
      background: #c82126;
      color: #fff;
      border-color: #c82126; }
      .layout-list li:hover .txts {
        background: #c82126; }
      .layout-list li:hover .pro-title .en, .layout-list li:hover .pro-title .ch {
        color: #fff; }
      .layout-list li:hover .pro-title {
        padding-top: 30px; } }

.layout-list .pro-title {
  width: 230px;
  float: left;
  transition: 300ms; }
  .layout-list .pro-title .ch, .layout-list .pro-title .en {
    transition: 300ms; }

.layout-list .txts {
  overflow: hidden;
  height: 150px;
  background: #fff; }

.layout-list .pic {
  float: left;
  width: 274px;
  height: 100%; }

.layout-list .freeTx {
  padding-left: 10%;
  padding-right: 10%;
  height: 100%;
  font-size: 16px; }
  .layout-list .freeTx p {
    width: 480px;
    max-width: 100%; }

.layout-list li + li {
  margin-top: 40px; }

.asset-list a {
  display: block; }
  @media screen and (min-width: 1025px) {
    .asset-list a:hover {
      background: #eeeae9; }
      .asset-list a:hover .respo-more {
        background: #c82126;
        border-color: #c82126;
        color: #fff; } }

.asset-list .picbox {
  width: 590px;
  float: left;
  margin-right: 5.4878%; }

.asset-list .txts {
  overflow: hidden;
  padding-top: 135px;
  padding-right: 5.4878%; }

.asset-list .pai {
  padding-bottom: 84.74576%; }

.asset-list .nowti {
  margin-bottom: 20px;
  border-left: 5px solid #c82126;
  padding-left: 20px;
  line-height: 1;
  font-size: 30px;
  color: #333; }

.asset-list .tx {
  margin-bottom: 80px;
  font-size: 16px;
  line-height: 28px !important;
  max-height: 84px; }

.asset-list .respo-more {
  width: 150px;
  border-radius: 30px;
  line-height: 46px;
  font-size: 14px;
  background: #999;
  border-color: #999;
  color: #fff; }

.str5 {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 40px;
  width: 1380px; }

.coop-list {
  margin-left: -50px; }
  .coop-list li {
    width: 50%;
    float: left;
    margin-bottom: 50px; }
  .coop-list .ma {
    margin-left: 50px;
    height: 220px;
    background: #fff;
    overflow: hidden;
    transition: 300ms; }
    @media screen and (min-width: 1025px) {
      .coop-list .ma:hover {
        background: #c82126;
        color: #fff; } }
  .coop-list .lg {
    text-align: center;
    background: #fff;
    padding: 0 70px;
    height: 78px;
    line-height: 78px;
    border-bottom: 1px solid #f2f2f2; }
    .coop-list .lg img {
      vertical-align: middle;
      max-width: 100%; }
  .coop-list .freeTx {
    padding: 30px 70px 0;
    font-size: 16px;
    text-align: center; }
