@charset "utf-8";
@import "color";
@import "repeat";
.header{
    height: 80px; line-height: 24px;
    .logo{ float: left; width: 198px; margin: (80px - 56px) / 2 0 0 40px; transition: none; }
    .nav{ float: left; 
        > li{ float: left;
            > a{ display: block; padding: (80px - 24px) / 2 22px; font-size: 16px; color: $fc1; 
                &:hover, &.act{ background: $mc1; color: #fff; }
            }
        }
    }
    .link{ float: left; margin: (80px - 36px) / 2 30px 0 38px - 22px; width: 110px; height: 36px; @include bs; border: 1px solid $hc1; border-radius: 20px; text-align: center; line-height: 34px; color: $fc3; 
        &:hover{ background: $mc1; border-color: $mc1; color: #fff; }
    }
}

.mtop{ height: 80px; }

.menu-handler{
    background: $mc1;
    .burger{ background: #fff; border-radius: 4px; }
}

.menuBox{
    right: -274px;
    width: 274px;
    background: $mco1;
    color: #fff;
    a{ color: #fff; }
    .navMobile{ padding: 80px 0 (50px - 20px) 0; }
}

.navMobile{
    a{ display: block; text-align: center; line-height: 1.4; }
    dd{
        position: relative;
        > a{ padding: (68px - 28px) / 2 0; font-size: 20px; 
            &.act{ background: $mc2; }
        }
        + dd:before{ @include ba; left: 25px; right: 25px; top: 0; height: 1px; background: rgba(255,255,255,.2); }
    }
    .mtv{ display: none; background: $mc1; padding: 10px 0;
        > a{ padding-top: 6px; padding-bottom: 6px; font-size: 16px; }
    }
}

.page-pa{ padding-left: 80px; padding-right: 80px; }

.footer{ position: relative; z-index: 99; background: $fc1; padding-top: 63px; padding-bottom: 94px - 6px; line-height: 24px;
    .logo{ width: 198px; }
    .f-nav{ margin-top: 40px; padding-top: 46px - 3px; border-top: 1px solid $hc4; }
    .b{ margin-top: 48px - 12px; }
    .f-cop{ margin-top: 32px - 12px; }
    .f-share{ margin-top: 40px; text-align: right; }
    a{
        @media screen and (min-width:1025px) {
            &:hover{ color: $mc1; }
        }
    }
    .r, .l{ max-width: 50%; }
}

.f-nav{
    a{ float: left; margin-right: 42px; color: #fff; font-size: 16px; font-weight: bold; }
}

.f-cta{
    a{ color: $fc3; }
}

.f-cop{
    a{ display: block; }
}

.friendship-link{ position: relative; z-index: 99; width: 355px; max-width: 100%;
    .s{ position: relative; border-bottom: 1px solid #fff; padding-top: 12px; padding-bottom: 12px; color: $fc3; }
    .icon{ position: absolute; right: 0; top: 50%; margin-top: -12px; font-size: 14px; @include mt3; }
    .k{ @include plr; bottom: 100%; padding: 10px 0; background: #fff; overflow: hidden; display: none; }
    .g{ max-height: 300px; @include sy; }
    a{ display: block; padding: 0 20px; line-height: 30px; }
    &.act{
        .icon{ transform: rotate(180deg); }
    }
}

.f-share{
    a{ @include c(26px); background: $fc2; text-align: center; font-size: 18px; line-height: 26px; color: $fc1; 
        + a{ margin-left: 20px; }
        @media screen and (min-width:1025px) {
            &:hover{ background: #fff; }
        }
    }
}

.index-top{
    .header{ background: url(../images/white.png); }
    .mtop{ height: 0; }
}

.btn{ display: inline-block; vertical-align: top; }

.btn-know{ width: 150px; height: 48px; border-radius: 25px; background: $mc1; text-align: center; color: #fff; line-height: 48px; white-space: nowrap; }

.banner{
    .txts{ position: absolute; top: 80px; left: (270 / 1920) * 100%; padding-top: (260 / 1920) * 100%; color: #fff; }
    .ti{ font-weight: bold; font-size: 40px; line-height: 1.25; }
    .btn-know{ margin-top: 50px; 
        @media screen and (min-width:1025px) {
            &:hover{ background: #fff; color: $mc1; }
        }
    }
    .slick-dots{ bottom: 30px; right: 80px; text-align: right;
        li{ width: 20px; height: 5px; margin: 0 0 0 12px; border-radius: 3px; background: #fff; 
            @media screen and (min-width:1025px) {
                &:hover{ background: $mc1; }
            }
        }
        .slick-active{ width: 40px; background: $mc1; }
    }
}

.recruitment-notice-wrap{
    position: absolute; left: 0; bottom: 0; z-index: 199; width: 50%; height: 128px; background: url(../images/white.png);
    .title{ float: left; width: 128px; height: 100%; padding-top: 42px; background: $mc1; @include bs; line-height: 1.1; font-size: 20px; font-weight: bold; color: #fff; text-align: center; }
}

.recruitment-notice-list{
    padding: 28px 80px + 40px 28px 40px;
    .item{ border: none; }
    .item > a{ display: block; overflow: hidden; line-height: 24px; 
        @media screen and (min-width:1025px) {
            &:hover{ color: $mc1; 
                .date{ color: $mc1; }
            }
        }
    }
    .nowti{ line-height: 24px; }
    .date{ float: left; width: 72px + 20px; font-style: italic; color: $fc3; @include mt3; }
}

.slick-arrow{ text-align: center; font-family: "iconfont" !important; }
.slick-prev:before{ content: "\e660"; }
.slick-next:before{ content: "\e65f"; }

.rn-arrow{
    .slick-arrow{ top: auto; margin: 0; bottom: 0; background: #fff; color: $hc1; font-weight: bold; font-size: 8px; line-height: 40px; 
        @media screen and (min-width:1025px) {
            &:hover{ background: $mc1; color: #fff; }
        }
    }
    .slick-prev{ left: auto; right: 40px; }
}

.ix-party{
    float: left; padding-top: 65px; padding-bottom: 50px; width: 50%; @include bg; @include bs; color: #fff;
    a{ color: #fff; }
    .ip-list{ margin-top: 136px - 3px; }
}

.ix-title{
    .ti{ overflow: hidden; font-size: 30px; font-weight: bold; }
    .plus-more{ float: right; margin: (42px - 36px) / 2 0 0 20px; }
}

.btn{ @include di; }

.plus-more{
    width: 36px; height: 36px; background: $mc1; line-height: 36px; font-size: 12px; font-weight: bold; text-align: center; color: #fff;
    @media screen and (min-width:1025px) {
        &:hover{
            background: #fff; color: $mc1;
        }
    }
}

.ip-list{
    .item{
        > a{ display: block; height: 210px; @include b5; 
            @media screen and (min-width:1025px) {
                &:hover{
                    .nowti{ color: $mc1; }
                }
            }
        }
    }
    .nowti{ padding: 25px 50px 15px; border-bottom: 1px solid #fff; border-color: rgba(255,255,255,.5); font-size: 18px; @include mt3; }
    .b{ padding: 21px - 6px 50px 0; }
    .tx{ margin-bottom: 21px - 11px; height: 24px * 2; }
    .date{ font-size: 12px; color: rgba(255,255,255,.5); font-style: italic; }
    .slick-dots{ padding: 0 50px; bottom: 25px; text-align: left; 
        li{ width: 8px; height: 8px; margin: 0; background: #fff; 
            + li{ margin-left: 13px; }
            @media screen and (min-width:1025px) {
                &:hover{ background: $mc1; }
            }
        }
        .slick-active{ background: $mc1; }
    }
}

.ix-news{ width: 50%; float: right; 
    .in-nav{ margin-bottom: 55px; }
}

.in-nav{
    border-bottom: 1px solid $hc3;
    li{ width: 33.33%; float: left; padding: 0 5%; text-align: center; font-size: 18px; line-height: 60px; @include bs; cursor: pointer;
        &.act{ background: $mc1; color: #fff; }
        @media screen and (min-width:1025px) {
            &:not(.act):hover{
                color: $mc1;
            }
        }
    }
}

.in-cont{
    padding-left: 40px; padding-right: 80px;
    li{ overflow: hidden; display: none; }
    .in-hot{ float: left; width: 365px; margin-right: (50 / 840) * 100%; }
    .in-list{ overflow: hidden; }
}

.in-hot{
    a{ display: block; 
        &:hover{
            .in-more{ background: $mc1; }
        }
    }
    .pai{ padding-bottom: (230 / 365) * 100%; }
    .tx{ margin-bottom: 20px; height: 26px * 2; font-size: 18px; line-height: 26px !important; color: $fc1; }
    .date{ font-size: 12px; color: $fc3; }
    .in-more{ float: right; }
    .txts{ padding-top: 20px; }
}

.in-more{ padding: 0 8px; background: $hc1; font-size: 12px; color: #fff; line-height: 20px; white-space: nowrap; @include mt3; }

.in-list{
    a{ display: block; line-height: 20px; overflow: hidden; 
        + a{ margin-top: 24px - 8px; }
        @media screen and (min-width:1025px) {
            &:hover{
                color: $mc1;
                .date{ color: $mc1; }
            }
        }
    }
    .date{ float: left; margin-right: 15px; font-size: 12px; font-style: italic; color: $fc3; @include mt3; }
    .nowti{ line-height: 20px; }
}

.ix-pro{
    .item > a{ display: block; position: relative; }
    .pai{ padding-bottom: (800 / 1920) * 100%; }
    .txts{ position: absolute; right: 0; bottom: 0; padding-top: 39px - 4px; width: 50%; height: 200px; background: url(../images/white.png); @include bs; overflow: hidden; }
    .nowti{ margin-bottom: 5px; font-size: 18px; font-weight: bold; color: $fc1; }
    .tx{ margin-bottom: 32px - 5px; height: 24px * 2; width: 610px; max-width: 100%; }
    .slick-dots{ display: none !important; }
    .slick-arrow{ right: 50%; }
    .slick-next{ margin-right: -40px; }
}

.ip-more{
    width: 102px; height: 32px; line-height: 32px; border-radius: 20px; background: $fc3; color: #fff; text-align: center; font-size: 12px; @include mt3;
}

.ix-link{
    margin-left: -45px;
    li{ width: 25%; float: left; }
    a{ display: block; position: relative; margin-left: 45px; overflow: hidden; 
        @media screen and (min-width:1025px) {
            &:hover{
                .txts{ transform: none; @include show; }
                h4.nowti{ transform: translateY(100%); @include hide; }
            }
        }
    }
    .pai{ padding-bottom: 100%; }
    h4.nowti, .txts{ @include plr; bottom: 0; @include mt4; }
    h4.nowti{ @include b5; padding: 0 5%; background: rgba(0,0,0,.3); line-height: 54px; font-size: 16px; text-align: center; color: #fff; }
    .txts{ height: 165px; padding: 50px - 3px 35px 0; background: #fff; @include bs; transform: translateY(100%); @include hide;
        &:before{ @include ba; top: 0; left: 35px; width: 35px; height: 14px; background: $mc1; }
    }
    h5.nowti{ font-size: 18px; font-weight: bold; color: $fc1; }
    .il-more{ margin: 1px 0 0 15px; float: right; }
    .tx{ margin-top: 22px - 12px; height: 24px * 2; }
}

.il-more{ border: 2px solid $hc1; @include c(22px); @include bs; line-height: 22px - 4px; font-size: 6px; color: $hc1; text-align: center; }

.page-bg{ background: $hc3; }

.ix3{ padding-top: 85px; padding-bottom: 85px; }

.ix4{ padding-top: 95px; padding-bottom: 95px; }

.ix-branch{ display: block; color: #fff; 
    .ti{ margin-bottom: 30px - 7px; }
    @media screen and (min-width:1025px) {
        &:hover{
            .ib-more{ transform: translateX(10px); }
        }
    }
}

.ib-more{ @include c(42px); border: 2px solid #fff; @include bs; text-align: center; font-weight: bold; font-size: 8px; line-height: 42px - 4px; @include mt3; }

.sos-box{
    position: fixed; top: 50%; margin-top: -(522px / 2); left: 10%; right: 10%; text-align: center; color: $mc1;
    img{ max-width: 90%; vertical-align: bottom; }
    .tx1{ margin-top: 75px - 21px; line-height: 1.4; font-weight: bold; font-size: 30px; }
    a{ width: 106px; height: 38px; background: $mc1; line-height: 38px; font-size: 12px; color: #fff; 
        @media screen and (min-width:1025px) {
            &:hover{
                background: $mc2;
            }
        } 
    }
    .tx2{ margin-top: -(13px - 9px); }
    .fib{ margin-top: 22px - 7px; }
}

.pbanner{
    .txts{ position: absolute; top: 0; bottom: 0; left: 5%; right: 5%; text-align: center; color: #fff; }
    .ch{ font-weight: bold; font-size: 40px; }
}

.page-cont{ margin-left: 280px; }

.pnav-point{ position: relative; }

.pnav{ position: absolute; left: 0; top: 0; bottom: 0; width: 280px; background: #fff; line-height: 24px; 
    li{ @include mt6; }
    a{ display: block; padding: (60px - 24px) / 2 5%; text-align: center; 
        &.act{ background: $mc1; font-weight: bold; color: #fff; }
        @media screen and (min-width:1025px) {
            &:not(.act):hover{ color: $mc1; font-weight: bold; }
        }
    }
    &.fix{ position: fixed; top: 80px; }
    &.hide{
        li{ transform: translateX(-100%); @include hide; }
    }
}

.bread-nav{
    line-height: 24px; padding: (60px - 24px) / 2 35px; background: #fff;
    .icon{ @include di; margin-right: 10px; color: $fc3; @include mt3; }
    a{
        &.act{ color: $mc1; }
        @media screen and (min-width:1025px) {
            &:not(.act):hover{ color: $mc1; 
                .icon{  color: $mc1; }
            }
        }
    }
}

.ab-info{
    .ab-video{ width: 500px; margin-right: (70 / 1480) * 100%; float: left; }
    .wrap{ padding-right: (240 - 80) / 1480 * 100%; }
    .ab-en{ margin-top: 34px - 7px; }
}

.ab-video{
    position: relative; cursor: pointer;
    .pai{ padding-bottom: (365 / 500) * 100%; 
        &:after{ @include ba; @include tblr; @include b5; }
    }
}

.btn-video{
    position: absolute; top: 50%; left: 50%; margin: -22px 0 0 -22px; width: 44px; height: 44px; color: $mc1; 
    &:before, &:after{ @include ba; @include tblr; border-radius: 50%; }
    &:after{ background: #fff; }
    &:before{ background: $mc1; animation: light 2s linear infinite; }
    .sj-r{ position: absolute; z-index: 9; top: 50%; left: 50%; margin: -5px 0 0 -4px; border-top-width: 5px; border-bottom-width: 5px; border-left-width: 8px; }
}

@keyframes light{
    0%{ transform: scale(.5); opacity: 1; }
    100%{ transform: scale(2); opacity: 0; }
}

.ab-title{
    .ti{ font-size: 30px; color: $fc1; }
    .line{ display: block; margin-top: 20px; width: 55px; height: 3px; background: $mc1; }
}

.ab1{
    padding-top: (145 / 1640) * 100%;
    padding-bottom: (130 / 1640) * 100%;
    .ab-title{ margin-bottom: 75px; } 
}

.ab2{ background: #fff; padding-top: (110 - 5) / 1640 * 100%; padding-bottom: (110 - 5) / 1640 * 100%;
    .ab-title{ margin-bottom: 71px - 6px; }
}

.ab-platform-list{
    margin-left: -65px;
    li{ width: 33.33%; float: left; }
    .ma{ margin-left: 65px; }
    .title{ margin-bottom: 27px - 10px; overflow: hidden; }
    .num{ float: left; margin-right: 10px; font-size: 46px; font-weight: bold; color: $mc1; font-style: italic; line-height: 1; }
    .ti{ padding-top: (46px - 36px) / 2; font-size: 26px; color: $fc1; overflow: hidden; }
    .freeTx{ font-size: 16px; }
}

.ab-block-list{
    padding-top: 40px;
    .pai{ padding-bottom: (300 / 548) * 100%; }
    .txts{ padding: 35px 14.6% 0; height: 480px; @include bs; }
    .ti{ position: relative; margin-bottom: 20px; padding-left: 46px; font-size: 26px; color: $fc1; }
    .ico{ position: absolute; left: 0; top: 50%; margin-top: -20px; width: 40px; height: 40px; background-position: left center; }
    .freeTx{ font-size: 16px; height: 11 * 30px; @include sy; }
    .item{
        transition: background 400ms;
        &:after{ @include hl($mc1, 10px); }
        @media screen and (min-width:1025px) {
            &:hover{
                background: #fff;
                &:after{ @include hlw; }
            }
        }
    }
    .slick-arrow{ right: auto; left: 80px; bottom: auto; top: 0; }
    .slick-next{ margin-left: 40px; }
}

.ab3{
    padding-top: 80px;
    .ab-title{ margin-bottom: 53px - 7px; 
        .line{ display: block; }
    }
}

.ab4{
    background: #fff; padding-bottom: 85px - 15px; padding-top: 100px;
    .ab-title{ margin-bottom: 70px; }
}

.ab-branch{
    margin-left: -15px;
    li{ width: 25%; float: left; margin-bottom: 15px; }
    a{ display: block; padding: 0 10px; margin-left: 15px; background: $hc3; height: 68px; font-size: 16px; text-align: center; line-height: 68px; 
        @media screen and (min-width:1025px) {
            &:hover{ background: $mc1; color: #fff; }
        }
    }
}

#top{
    position: fixed; left: (280px - 70px) / 2; bottom: 40px; z-index: 299; padding-top: 6px; width: 70px; height: 50px; font-size: 12px; text-align: center; color: $fc3; @include bs; line-height: 1; transform: translateY(100%); cursor: pointer; @include hide; @include mt4;
    .sj{ display: block; margin: 0 auto 10px; border-left-width: 9px; border-right-width: 9px; border-bottom-width: 16px; }
    &.show{ transform: none; @include show; }
    &.change{ background: $mc1; background: $mco2; color: #fff; }
    @media screen and (min-width:1025px) {
        &:not(.change):hover{ color: $mc1; }
    }
}

.ab5{
    .ab-video .pai:after{ display: none; }
    .ab-info{ position: relative; 
        .freeTx{ position: relative; }
    }
    .ab-en{ @include plr; bottom: 25px; margin: 0; text-align: right; 
        > img{ vertical-align: bottom; max-width: 100%; }
    }
}

.ab-business{
    li{ width: 16.66%; float: left; 
        + li{ position: relative; 
            &:before{ @include ba; left: 0; top: 50%; margin-top: -(38px / 2); width: 1px; height: 38px; background: $hc3; }
        }
        @media screen and (min-width:1025px) {
            &:hover{ color: $mc1; 
                .ico{ background-position: center bottom; }
            }
        }
    }
    .ico{ display: block; margin-bottom: 10px; height: 60px; }
    .name{ text-align: center; font-size: 16px; }
}

.ab6{ background: #fff; padding-top: 80px; padding-bottom: 80px;
    .ab-title{ margin-bottom: 70px; }
}

.ab-pa{ padding-right: (160 / 1480) * 100%; }

.ab-tx{
    padding-top: 90px; padding-bottom: 90px;
    .l{ width: (498 / 1305) * 100%; }
    .r{ width: ( 760 / 1305) * 100%; }
}

.ab-works{
    margin-left: -60px;
    li{ width: 33.33%; float: left; }
    .ma{ margin-left: 60px; }
    .num{ margin-bottom: 26px - 9px; font-weight: bold; font-style: italic; line-height: 1; color: $mc1; font-size: 46px; }
    .freeTx{ font-size: 16px; }
}

.ab7{
    background: #fff; padding-top: 90px;
    .ab-title{ margin-bottom: 55px; }
    .fixbg{ margin-top: 80px; padding-bottom: (510 / 1640) * 100%; }
}

.ab8{
    padding-top: 90px; padding-bottom: (160 / 1640) * 100%;
    .ab-title{ margin-bottom: 55px; }
}

.respo-list{
    margin-left: -40px;
    li{ width: 50%; float: left; margin-bottom: 40px; }
    a{ display: block; background: #fff; margin-left: 40px; 
        @media screen and (min-width:1025px) {
            &:hover{
                box-shadow: 3px 5px 8px rgba(0,0,0,.1);
                .respo-more{ background: $mc1; color: #fff; border-color: $mc1; }
            }
        }
    }
    .respo-date{ position: absolute; left: 35px; bottom: 0; }
    .pai{ padding-bottom: (340 / 550) * 100%; }
    .txts{ height: 215px; padding: 35px 35px 0; @include bs; overflow: hidden; }
    .nowti{ margin-bottom: 8px; font-size: 18px; color: $fc1; }
    .tx{ margin-bottom: 30px; height: 24px * 2; }
    .respo-more{ color: $fc3; }
}

.respo-date{ position: relative; width: 60px; height: 60px; padding-top: 7px; background: $mc1; @include bs; font-size: 30px; line-height: 1; text-align: center; color: #fff; 
    .y{ @include plr; bottom: 7px; font-size: 12px; }
}

.respo-more{ width: 120px; border-radius: 20px; line-height: 36px - 2px; @include bs; border: 1px solid $hc1; text-align: center; font-size: 12px; color: $fc3; @include mt3;
    .icon{ @include di; font-size: 10px; margin-left: 4px; }
}

.pager{
    a{ width: 40px; height: 40px; line-height: 40px; background: #fff; color: $fc3; 
        + a{ margin-left: 10px; }
        &.act{ background: $mc1; color: #fff; }
        @media screen and (min-width:1025px) {
            &:hover{ background: $mc1; color: #fff; }
        }
    }
    .icon{ font-size: 12px; }
}

.ab9{
    padding-top: 80px; padding-bottom: 90px;
    .respo-list{ margin-bottom: 55px - 40px; } 
}