@charset "utf-8";
@import "color";
@import "repeat";
.header{
    height: 80px; line-height: 24px;
    .logo{ float: left; width: 198px; margin: (80px - 56px) / 2 0 0 40px; transition: none; }
    .nav{ float: left; 
        > li{ float: left;
            > a{ display: block; padding: (80px - 24px) / 2 22px; font-size: 16px; color: $fc1; 
                &:hover, &.act{ background: $mc1; color: #fff; }
            }
        }
    }
    .link{ float: left; margin: (80px - 36px) / 2 30px 0 38px - 22px; width: 110px; height: 36px; @include bs; border: 1px solid $hc1; border-radius: 20px; text-align: center; line-height: 34px; color: $fc3; 
        &:hover{ background: $mc1; border-color: $mc1; color: #fff; }
    }
}

.mtop{ height: 80px; }

.menu-handler{
    background: $mc1;
    .burger{ background: #fff; border-radius: 4px; }
}

.menuBox{
    right: -274px;
    width: 274px;
    background: $mco1;
    color: #fff;
    a{ color: #fff; }
    .navMobile{ padding: 80px 0 (50px - 20px) 0; }
}

.navMobile{
    a{ display: block; text-align: center; line-height: 1.4; }
    dd{
        position: relative;
        > a{ padding: (68px - 28px) / 2 0; font-size: 20px; 
            &.act{ background: $mc2; }
        }
        + dd:before{ @include ba; left: 25px; right: 25px; top: 0; height: 1px; background: rgba(255,255,255,.2); }
    }
    .mtv{ display: none; background: $mc1; padding: 10px 0;
        > a{ padding-top: 6px; padding-bottom: 6px; font-size: 16px; }
    }
}

.page-pa{ padding-left: 80px; padding-right: 80px; }

.footer{ background: $fc1; padding-top: 63px; padding-bottom: 94px - 6px; line-height: 24px;
    .logo{ width: 198px; }
    .f-nav{ margin-top: 40px; padding-top: 46px - 3px; border-top: 1px solid $hc4; }
    .b{ margin-top: 48px - 12px; }
    .f-cop{ margin-top: 32px - 12px; }
    .f-share{ margin-top: 40px; text-align: right; }
    a{
        @media screen and (min-width:1025px) {
            &:hover{ color: $mc1; }
        }
    }
    .r, .l{ max-width: 50%; }
}

.f-nav{
    a{ float: left; margin-right: 42px; color: #fff; font-size: 16px; font-weight: bold; }
}

.f-cta{
    a{ color: $fc3; }
}

.f-cop{
    a{ display: block; }
}

.friendship-link{ position: relative; z-index: 99; width: 355px; max-width: 100%;
    .s{ position: relative; border-bottom: 1px solid #fff; padding-top: 12px; padding-bottom: 12px; color: $fc3; }
    .icon{ position: absolute; right: 0; top: 50%; margin-top: -12px; font-size: 14px; @include mt3; }
    .k{ @include plr; bottom: 100%; padding: 10px 0; background: #fff; overflow: hidden; display: none; }
    .g{ max-height: 300px; @include sy; }
    a{ display: block; padding: 0 20px; line-height: 30px; }
    &.act{
        .icon{ transform: rotate(180deg); }
    }
}

.f-share{
    a{ @include c(26px); background: $fc2; text-align: center; font-size: 18px; line-height: 26px; color: $fc1; 
        + a{ margin-left: 20px; }
        @media screen and (min-width:1025px) {
            &:hover{ background: #fff; }
        }
    }
}

.index-top{
    .header{ background: url(../images/white.png); }
    .mtop{ height: 0; }
}

.btn{ display: inline-block; vertical-align: top; }

.btn-know{ width: 150px; height: 48px; border-radius: 25px; background: $mc1; text-align: center; color: #fff; line-height: 48px; white-space: nowrap; }

.banner{
    .txts{ position: absolute; top: 80px; left: (270 / 1920) * 100%; padding-top: (260 / 1920) * 100%; color: #fff; }
    .ti{ font-weight: bold; font-size: 40px; line-height: 1.25; }
    .btn-know{ margin-top: 50px; 
        @media screen and (min-width:1025px) {
            &:hover{ background: #fff; color: $mc1; }
        }
    }
    .slick-dots{ bottom: 30px; right: 80px; text-align: right;
        li{ width: 20px; height: 5px; margin: 0 0 0 12px; border-radius: 3px; background: #fff; 
            @media screen and (min-width:1025px) {
                &:hover{ background: $mc1; }
            }
        }
        .slick-active{ width: 40px; background: $mc1; }
    }
}

.recruitment-notice-wrap{
    position: absolute; left: 0; bottom: 0; z-index: 199; width: 50%; height: 128px; background: url(../images/white.png);
    .title{ float: left; width: 128px; height: 100%; padding-top: 42px; background: $mc1; @include bs; line-height: 1.1; font-size: 20px; font-weight: bold; color: #fff; text-align: center; }
}

.recruitment-notice-list{
    padding: 28px 80px + 40px 28px 40px;
    .item{ border: none; }
    .item > a{ display: block; overflow: hidden; line-height: 24px; 
        @media screen and (min-width:1025px) {
            &:hover{ color: $mc1; 
                .date{ color: $mc1; }
            }
        }
    }
    .nowti{ line-height: 24px; }
    .date{ float: left; width: 72px + 20px; font-style: italic; color: $fc3; @include mt3; }
}

.slick-arrow{ text-align: center; font-family: "iconfont" !important; }
.slick-prev:before{ content: "\e660"; }
.slick-next:before{ content: "\e65f"; }

.rn-arrow{
    .slick-arrow{ top: auto; margin: 0; bottom: 0; background: #fff; color: $hc1; font-weight: bold; font-size: 8px; line-height: 40px; 
        @media screen and (min-width:1025px) {
            &:hover{ background: $mc1; color: #fff; }
        }
    }
    .slick-prev{ left: auto; right: 40px; }
}

.ix-party{
    float: left; padding-top: 65px; padding-bottom: 50px; width: 50%; @include bg; @include bs; color: #fff;
    a{ color: #fff; }
    .ip-list{ margin-top: 136px - 3px; }
}

.ix-title{
    .ti{ overflow: hidden; font-size: 30px; font-weight: bold; }
    .plus-more{ float: right; margin: (42px - 36px) / 2 0 0 20px; }
}

.btn{ @include di; }

.plus-more{
    width: 36px; height: 36px; background: $mc1; line-height: 36px; font-size: 12px; font-weight: bold; text-align: center; color: #fff;
    @media screen and (min-width:1025px) {
        &:hover{
            background: #fff; color: $mc1;
        }
    }
}

.ip-list{
    .item{
        > a{ display: block; height: 210px; @include b5; 
            @media screen and (min-width:1025px) {
                &:hover{
                    .nowti{ color: $mc1; }
                }
            }
        }
    }
    .nowti{ padding: 25px 50px 15px; border-bottom: 1px solid #fff; border-color: rgba(255,255,255,.5); font-size: 18px; @include mt3; }
    .b{ padding: 21px - 6px 50px 0; }
    .tx{ margin-bottom: 21px - 11px; height: 24px * 2; }
    .date{ font-size: 12px; color: rgba(255,255,255,.5); font-style: italic; }
    .slick-dots{ padding: 0 50px; bottom: 25px; text-align: left; 
        li{ width: 8px; height: 8px; margin: 0; background: #fff; 
            + li{ margin-left: 13px; }
            @media screen and (min-width:1025px) {
                &:hover{ background: $mc1; }
            }
        }
        .slick-active{ background: $mc1; }
    }
}

.ix-news{ width: 50%; float: right; 
    .in-nav{ margin-bottom: 55px; }
}

.in-nav{
    border-bottom: 1px solid $hc3;
    li{ width: 33.33%; float: left; padding: 0 5%; text-align: center; font-size: 18px; line-height: 60px; @include bs; cursor: pointer;
        &.act{ background: $mc1; color: #fff; }
        @media screen and (min-width:1025px) {
            &:not(.act):hover{
                color: $mc1;
            }
        }
    }
}

.in-cont{
    padding-left: 40px; padding-right: 80px;
    li{ overflow: hidden; display: none; }
    .in-hot{ float: left; width: 365px; margin-right: (50 / 840) * 100%; }
    .in-list{ overflow: hidden; }
}

.in-hot{
    a{ display: block; 
        &:hover{
            .in-more{ background: $mc1; }
        }
    }
    .pai{ padding-bottom: (230 / 365) * 100%; }
    .tx{ margin-bottom: 20px; height: 26px * 2; font-size: 18px; line-height: 26px !important; color: $fc1; }
    .date{ font-size: 12px; color: $fc3; }
    .in-more{ float: right; }
    .txts{ padding-top: 20px; }
}

.in-more{ padding: 0 8px; background: $hc1; font-size: 12px; color: #fff; line-height: 20px; white-space: nowrap; @include mt3; }

.in-list{
    a{ display: block; line-height: 20px; overflow: hidden; 
        + a{ margin-top: 24px - 8px; }
        @media screen and (min-width:1025px) {
            &:hover{
                color: $mc1;
                .date{ color: $mc1; }
            }
        }
    }
    .date{ float: left; margin-right: 15px; font-size: 12px; font-style: italic; color: $fc3; @include mt3; }
    .nowti{ line-height: 20px; }
}

.ix-pro{
    .item > a{ display: block; position: relative; }
    .pai{ padding-bottom: (800 / 1920) * 100%; }
    .txts{ position: absolute; right: 0; bottom: 0; padding-top: 39px - 4px; width: 50%; height: 200px; background: url(../images/white.png); @include bs; overflow: hidden; }
    .nowti{ margin-bottom: 5px; font-size: 18px; font-weight: bold; color: $fc1; }
    .tx{ margin-bottom: 32px - 5px; height: 24px * 2; width: 610px; max-width: 100%; }
    .slick-dots{ display: none !important; }
    .slick-arrow{ right: 50%; }
    .slick-next{ margin-right: -40px; }
}

.ip-more{
    width: 102px; height: 32px; line-height: 32px; border-radius: 20px; background: $fc3; color: #fff; text-align: center; font-size: 12px; @include mt3;
}